@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  font-family: "Mulish", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#inicio, #productos, #novedades, #carrito, #nosotros {
  z-index: -1000;
}

/* COLORES */ /* DISPLAY */
/* FLEX DIRECTION */
/* JUSTIFY CONTENT */
/* TEXTOS */
/* FONT-SIZE */
/* MARGIN Y PADDING */
/* MARGIN */
/* PADDING */
/* WIDTH Y HEIGHT */
/* WIDTH */
/* HEIGHT */
/* POSITIONS */
/* LISTAS */
/* ----------------ALL-PAGES=START----------------- */
.header {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(30, 30, 30);
  box-shadow: -1px 5px 11px -3px rgba(0, 0, 0, 0.67);
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100000;
}
.header__first {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.header__first--logo {
  align-content: center;
  margin: 0;
  padding: 10px 15px;
}
.header__first--logo--mini {
  width: 9vw;
  height: auto;
  transition: 0.2s ease-in-out;
}
.header__first--logo--mini:hover {
  transform: scale(1.02);
}
.header__first--logo--full {
  width: 300px;
  height: auto;
  margin: 0 0 0 5px;
  display: none;
  transition: 0.2s ease-in-out;
}
.header__first--logo--full:hover {
  transform: scale(1.03);
}
.header__first--nav-sup {
  margin: 0;
  padding: 10px 15px;
  justify-content: end;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.header__first--nav-sup--lupa--1 {
  width: 9vw;
  height: auto;
  margin: 0 10px 0 0;
  padding: 0;
  transform: scaleX(-1);
  background-color: rgba(255, 255, 255, 0);
}
.header__first--nav-sup--lupa--1:hover {
  transform: scale(1.1) scaleX(-1);
}
.header__first--nav-sup--lupa--1 path {
  color: rgb(170, 170, 170);
}
.header__first--nav-sup--lupa--2, .header__first--nav-sup--list--2 {
  display: flex;
  width: 11vw;
  height: auto;
  color: rgb(170, 170, 170);
}
.header__first--nav-sup--list--1 {
  display: flex;
  width: 11vw;
  height: auto;
  color: rgb(170, 170, 170);
}
.header__desktop-subpages {
  display: none;
}

#lupaClose, #listClose {
  display: none;
}

#lupaOpen:focus ~ #listButton {
  opacity: 1;
}

#listOpen:focus ~ #lupaButton {
  opacity: 1;
}

.nav {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
.nav__ul, .nav-2__ul {
  margin: 0;
  padding: 7px 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.nav__ul--li, .nav-2__ul--li {
  width: 100%;
  height: auto;
  margin: 4px;
  padding: 0;
  list-style: none;
  text-decoration: none;
  background-color: rgb(170, 170, 170);
  border-radius: 10px;
  cursor: pointer;
}
.nav__ul--li:hover, .nav-2__ul--li:hover {
  background-color: rgb(30, 90, 90);
  transform: scale(1.03);
}
.nav__ul--li:hover h3, .nav-2__ul--li:hover h3 {
  font-size: 4vw;
  font-weight: 800;
  color: rgb(170, 170, 170);
}
.nav__ul--li:hover path, .nav-2__ul--li:hover path {
  color: rgb(170, 170, 170);
}
.nav__ul--li--svg {
  width: 13vw;
  height: auto;
  transform: scaleX(-1);
}
.nav__ul--li--svg path {
  color: rgb(30, 90, 90);
}
.nav__ul--li--subpages {
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: 600;
  color: rgb(30, 90, 90);
  margin: 20px;
  padding: 0;
  display: none;
}
.nav__log {
  margin: 4px;
  padding: 0;
  display: flex;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
}
.nav__log--login {
  text-decoration: none;
}
.nav__log--login--button {
  margin: 0;
  padding: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(170, 170, 170);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.nav__log--login--button:hover {
  background-color: rgb(30, 90, 90);
  border-color: rgb(170, 170, 170);
}
.nav__log--login--button:hover span {
  font-weight: 800;
  padding-right: 4px;
  color: rgb(235, 235, 235);
  background-size: 85% 2px;
}
.nav__log--login--button:hover .nav__log--login--button--img1, .nav__log--login--button:hover .nav__log--login--button--img1--2 {
  display: none;
}
.nav__log--login--button:hover .nav__log--login--button--img1--2 {
  display: flex;
}
.nav__log--login--button--img1, .nav__log--login--button--img1--2 {
  width: 14vw;
  height: auto;
  margin: 0 4px 0 0;
  padding: 3px 0 3px 3px;
  color: rgb(170, 170, 170);
}
.nav__log--login--button--img1--2 {
  display: none;
}
.nav__log--login--button--span1 {
  font-size: 6vw;
  font-weight: 500;
  color: rgb(170, 170, 170);
  padding-right: 4px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: linear-gradient(rgb(170, 170, 170), rgb(170, 170, 170));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.nav__log--login--button:active {
  background-color: rgb(100, 100, 100);
}
.nav__text {
  margin: 4px;
  padding: 0;
}
.nav__text--ul {
  list-style: none;
}
.nav__text--ul--subpages-text-only {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 7px;
  text-decoration: none;
}
.nav__text--ul--subpages-text-only:hover a {
  font-size: 6.5vw;
  font-weight: 800;
  color: rgb(30, 90, 90);
  text-decoration: none;
  transform: scale(1.04);
}
.nav__text--ul--subpages-text-only a {
  font-size: 6vw;
  font-weight: 700;
  color: rgb(170, 170, 170);
  display: inline;
  text-decoration: none;
}

.nav-2 {
  align-items: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
.nav-2__form {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
.nav-2__form--input {
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 10px;
  font-size: 45px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  display: flex;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}
.nav-2__form--input::placeholder {
  font-size: 45px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  color: rgb(120, 120, 120);
}
.nav-2__form--lupa {
  padding: 2px 0 0 0;
  color: rgb(120, 120, 120);
}
.nav-2__form--lupa--svg {
  width: 35px;
  height: 35px;
}
.nav-2__h3 {
  width: 100%;
  margin: 30px;
  padding: 0 0 0 15px;
  font-size: 27px;
  font-weight: 500;
  color: rgb(120, 120, 120);
  text-align: start;
}
.nav-2__ul {
  margin: 0;
  padding: 0;
  text-align: start;
}
.nav-2__ul--li {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
.nav-2__ul--li:hover {
  background-color: rgb(40, 40, 40);
  transform: scale(1);
}
.nav-2__ul--li:hover h3 {
  font-size: 1px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0);
}
.nav-2__ul--li--a {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px;
  text-decoration: none;
  background-color: transparent;
}
.nav-2__ul--li--a--h4 {
  font-size: 23px;
  font-weight: 600;
  color: rgb(215, 215, 215);
  margin: 0;
  padding: 0 0 0 10px;
}

#BusquedaNav {
  display: none;
}

#ProductosNav {
  display: none;
}

#NosotrosNav {
  display: none;
}

#ContactanosNav {
  display: none;
}

#footer-nav {
  background-color: rgb(70, 70, 70);
}

.footer {
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 20px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(70, 70, 70);
  overflow: hidden;
}
.footer__main-text {
  width: 100%;
  height: auto;
  padding: 10px;
  color: rgb(235, 235, 235);
}
.footer__main-text h2 {
  font-size: 11vw;
  font-weight: 700;
  color: rgb(255, 251, 252);
  padding: 10px;
}
.footer__content {
  width: 100%;
  height: auto;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.footer__content--contact-items {
  height: auto;
  justify-content: center;
  margin: 20px;
  display: flex;
}
.footer__content--contact-items--ul {
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.footer__content--contact-items--ul--li {
  width: auto;
  height: auto;
  justify-content: start;
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.footer__content--contact-items--ul--li svg {
  width: 11vw;
  height: auto;
  margin: 0 20px 0 0;
  color: rgb(235, 235, 235);
}
.footer__content--contact-items--ul--li h4 {
  font-size: 4.5vw;
  font-weight: 400;
  color: rgb(255, 251, 252);
  margin: 0 10px 0 0;
}
.footer__form {
  height: auto;
  align-items: center;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.footer__form h3 {
  font-size: 5.5vw;
  font-weight: 700;
  color: rgb(255, 251, 252);
}
.footer__form--formulario {
  width: 90%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer__form--formulario--input {
  width: 100%;
  margin: 5px;
  padding: 10px;
  font-size: 5vw;
  border: none;
  border-radius: 5px;
}
.footer__form--formulario .textarea {
  height: 15vh;
  resize: none;
  overflow-y: scroll;
}
.footer__form--formulario .submit {
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px 20px;
  font-size: 5.5vw;
  font-weight: 500;
  color: rgb(255, 251, 252);
  background-color: rgb(55, 106, 109);
  border: 1px solid rgb(255, 251, 252);
  border-radius: 5px;
  cursor: pointer;
}
.footer__form--formulario .submit:hover {
  background-color: rgb(42, 82, 84);
}
.footer__map {
  height: auto;
  padding: 10px;
}
.footer__map iframe {
  width: 100%;
  height: 80vh;
  border: none;
}
.footer__redes {
  width: 100%;
  margin: 20px;
  display: flex;
}
.footer__redes--ul {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
}
.footer__redes--ul--li {
  justify-content: space-between;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.footer__redes--ul--li a svg {
  width: 12vw;
  height: auto;
  color: rgb(30, 100, 100);
}
.footer__desc {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(172, 172, 172);
}
.footer__desc h5 {
  font-size: 3vw;
  font-weight: 500;
  color: rgb(255, 251, 252);
  margin: 0;
}

.page-main-text {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px 20px 20px 20px;
  text-align: center;
  font-size: 12vw;
  font-weight: 600;
  color: rgb(114, 114, 114);
}

/* ---------BREAKPOINT-MOBILE-ALL = START--------- */
@media (min-width: 576px) {
  .header__first--nav-sup--lupa-1 {
    width: 8vw;
    height: auto;
  }
  .header__first--nav-sup--list {
    width: 10vw;
    height: auto;
  }
  .header__first--logo--mini {
    width: 8vw;
    height: auto;
  }
  .nav__log {
    justify-content: center;
  }
  .nav__log--login--button--img1, .nav__log--login--button--img1--2 {
    width: 11vw;
    height: auto;
  }
  .nav__log--login--button--span1 {
    font-size: 5vw;
  }
  .nav__text--ul--subpages-text-only:hover a {
    font-size: 5vw;
    font-weight: 800;
    color: rgb(30, 90, 90);
  }
  .nav__ul, .nav-2__ul {
    flex-direction: row;
  }
  .nav__ul--li, .nav-2__ul--li {
    width: 100%;
    height: auto;
    padding: 20px 30px;
  }
  .nav__ul--li--svg {
    width: 10vw;
    height: auto;
  }
  .nav__text--ul--subpages-text-only a {
    font-size: 4.5vw;
  }
  .nav-2__ul {
    flex-direction: column;
  }
  .footer__form--formulario--input {
    font-size: 5vw;
  }
  .footer__form--formulario .textarea {
    height: 15vh;
    resize: none;
    overflow-y: scroll;
  }
  .footer__form--formulario .submit {
    font-size: 5vw;
  }
}
/* ---------BREAKPOINT-MOBILE-ALL = END--------- */
/* ---------BREAKPOINT-TABLET-ALL = START--------- */
@media (min-width: 768px) {
  .header__first--logo--mini {
    display: none;
  }
  .header__first--logo--full {
    display: flex;
    width: 27vw;
  }
  .header__first--nav-sup--lupa-1 {
    width: 7vw;
  }
  .header__first--nav-sup--list {
    width: 9vw;
  }
  .nav__log {
    margin: 10px;
  }
  .nav__log--login--button--img1, .nav__log--login--button--img1--2 {
    width: 9vw;
  }
  .nav__log--login--button--span1 {
    font-size: 4vw;
    padding: 0 6px 0 0;
  }
  .nav__ul, .nav-2__ul {
    flex-direction: column;
  }
  .nav__ul--li, .nav-2__ul--li {
    margin: 10px;
    padding: 0;
  }
  .nav__ul--li--svg {
    width: 9vw;
  }
  .nav__ul--li a, .nav-2__ul--li a {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  .nav__ul--li--subpages {
    display: flex;
    margin: 10px;
    color: rgb(30, 90, 90);
  }
  .nav__text--ul--subpages-text-only:hover a {
    font-size: 4.5vw;
    font-weight: 800;
    color: rgb(30, 90, 90);
  }
  .nav__text--ul--subpages-text-only a {
    font-size: 4vw;
  }
  .nav-2__ul {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .footer__main-text h2 {
    font-size: 9.5vw;
  }
  .footer__content--contact-items--ul--li svg {
    width: 9vw;
  }
  .footer__content--contact-items--ul--li h4 {
    font-size: 3.5vw;
  }
  .footer__redes--ul--li a svg {
    width: 9vw;
  }
  .footer__form--formulario--input {
    font-size: 3.5vw;
  }
  .footer__form--formulario .submit {
    font-size: 4vw;
  }
}
/* ---------BREAKPOINT-TABLET-ALL = END--------- */
/* ---------BREAKPOINT-DESKTOP-ALL = START--------- */
@media (min-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__first {
    display: flex;
    flex-direction: row;
  }
  .header__first--logo--full {
    width: 130px;
  }
  .header__first--nav-sup {
    display: none;
  }
  .header__desktop-subpages {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(235, 235, 235);
  }
  .header__desktop-subpages__ul {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  .header__desktop-subpages__ul--li {
    width: 100%;
    padding: 3px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  .header__desktop-subpages__ul--li:hover {
    padding: 0;
    background-color: rgb(190, 190, 190);
  }
  .header__desktop-subpages__ul--li:hover a {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }
  .header__desktop-subpages__ul--li a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: rgb(73, 73, 73);
    text-decoration: none;
  }
  .nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
  .nav__log {
    width: auto;
    justify-content: end;
    display: flex;
    flex-direction: row;
  }
  .nav__log--login--button--img1, .nav__log--login--button--img1--2 {
    width: 30px;
  }
  .nav__log--login--button--span1 {
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 251, 252);
    padding: 0 6px 0 0;
  }
  .nav__ul, .nav-2__ul {
    width: auto;
    padding: 0;
    display: flex;
  }
  .nav__ul--li, .nav-2__ul--li {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  .nav__ul--li:hover, .nav-2__ul--li:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .nav__ul--li--svg {
    width: 30px;
  }
  .nav__ul--li--svg path {
    color: rgb(235, 235, 235);
    transition: color 0.2s ease-in-out;
  }
  .nav__ul--li:hover path, .nav-2__ul--li:hover path {
    color: rgb(30, 90, 90);
    transform: scale(1.03);
  }
  .nav__ul--li:active path, .nav-2__ul--li:active path {
    color: rgb(100, 100, 100);
  }
  .nav__ul--li a, .nav-2__ul--li a {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  .nav__ul--li--subpages {
    display: none;
  }
  .nav__text {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row-reverse;
  }
  #ProductosItem {
    display: none;
  }
  #BusquedaNav {
    display: flex;
  }
  #footer-nav {
    width: 100%;
    height: 50px;
    background-color: rgb(70, 70, 70);
  }
  .footer__main-text h2 {
    font-size: 70px;
  }
  .footer__content--contact-items {
    justify-content: start;
    align-items: center;
  }
  .footer__content--contact-items--ul--li svg {
    width: 45px;
  }
  .footer__content--contact-items--ul--li h4 {
    font-size: 20px;
  }
  .footer__form {
    justify-content: center;
    align-content: start;
  }
  .footer__form h3 {
    font-size: 30px;
  }
  .footer__redes {
    margin: 20px;
    display: flex;
  }
  .footer__redes--ul {
    justify-content: space-evenly;
  }
  .footer__redes--ul--li a svg {
    width: 70px;
  }
  .footer__desc h5 {
    font-size: 12px;
  }
  .footer__form--formulario--input {
    font-size: 19px;
  }
  .footer__form--formulario .submit {
    font-size: 22px;
  }
}
/* ---------BREAKPOINT-DESKTOP-ALL = END--------- */
/* ----------------ALL-PAGES=END----------------- */
/* ----------------INDEX=START----------------- */
.main-index {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  z-index: -1000;
}
.main-index__bg {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/deposito-gamma.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.8) blur(3px);
  overflow: hidden;
}
.main-index__text {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  text-align: center;
  display: flex;
  position: absolute;
  top: 10%;
  left: 0;
}
.main-index__text h1 {
  font-size: 13vw;
  font-weight: 800;
  color: rgb(255, 251, 252);
}

.section-1-index {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
  z-index: 15000;
}
.section-1-index__text {
  font-size: 8vw;
  font-weight: 600;
  color: rgb(55, 106, 109);
  margin: 15px 0 10px 0;
}
.section-1-index__article-1 {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 500;
}
.section-1-index__article-1 .li-1, .section-1-index__article-1 .li-2, .section-1-index__article-1 .li-3 {
  animation-delay: 100ms;
}
.section-1-index__article-1--figure {
  width: 70%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms ease-out;
}
.section-1-index__article-1--figure:active {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
}
.section-1-index__article-1--figure--img {
  width: 90%;
}
.section-1-index__article-1--figure--figcap {
  width: 85%;
  height: auto;
  font-size: 6vw;
  font-weight: 700;
  color: rgb(55, 106, 109);
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
  position: relative;
  top: -10px;
  left: 0;
  background-image: linear-gradient(rgb(55, 106, 109), rgb(55, 106, 109));
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.section-1-index div {
  margin: 10px 0 10px 0;
}
.section-1-index div a {
  font-size: 5.5vw;
  font-weight: 500;
  color: rgb(110, 110, 110);
  text-decoration: none;
  margin-bottom: 5px;
  color: rgb(100, 100, 100);
  background-image: linear-gradient(rgb(55, 106, 109), rgb(55, 106, 109));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.section-1-index div a:hover {
  color: rgb(30, 90, 90);
}

/* ---------BREAKPOINT-MOBILE-IND = START--------- */
@media (min-width: 576px) {
  .main-index__text h1 {
    font-size: 11vw;
  }
  .section-1-index__tex {
    font-size: 9.5vw;
  }
  .section-1-index__article-1--figure--figcap {
    font-size: 5.5vw;
  }
  .section-1-index div a {
    font-size: 5.5vw;
  }
}
/* ---------BREAKPOINT-MOBILE-IND = END--------- */
/* ---------BREAKPOINT-TABLET-IND = START--------- */
@media (min-width: 768px) {
  .main-index__text h1 {
    font-size: 9.5vw;
  }
  .section-1-index__text {
    font-size: 8vw;
  }
  .section-1-index__article-1 .li-1, .section-1-index__article-1 .li-2, .section-1-index__article-1 .li-3 {
    animation-delay: 50ms;
  }
  .section-1-index__article-1--figure {
    width: 65vw;
  }
  .section-1-index__article-1--figure--img {
    width: 60%;
  }
  .section-1-index__article-1--figure--figcap {
    font-size: 4vw;
  }
}
/* ---------BREAKPOINT-TABLET-IND = END--------- */
/* ---------BREAKPOINT-DESKTOP-IND = START--------- */
@media (min-width: 992px) {
  .main-index__text h1 {
    font-size: 5.5vw;
    font-weight: 800;
    color: rgb(255, 251, 252);
  }
  #ProDest {
    width: 100%;
    height: 80px;
    background-color: rgb(225, 225, 225);
  }
  .section-1-index__text {
    font-size: 5vw;
    font-weight: 600;
    color: rgb(55, 106, 109);
  }
  .section-1-index__article-1 {
    width: 100%;
  }
  .section-1-index__article-1 .li-2 {
    animation-delay: 250ms;
  }
  .section-1-index__article-1 .li-3 {
    animation-delay: 350ms;
  }
  .section-1-index__article-1--figure {
    width: 25%;
    justify-content: center;
  }
  .section-1-index__article-1--figure:hover {
    transform: translateY(-2%);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.25);
  }
  .section-1-index__article-1--figure:hover figcaption {
    background-size: 100% 2px;
  }
  .section-1-index__article-1--figure:active {
    transform: scale(1.02);
  }
  .section-1-index__article-1--figure--img {
    width: 70%;
  }
  .section-1-index__article-1--figure--figcap {
    font-size: 25px;
  }
  .section-1-index div a {
    font-size: 20px;
  }
  .section-1-index div a:hover {
    color: rgb(30, 90, 90);
    background-size: 100% 2px;
  }
}
/* ---------BREAKPOINT-DESKTOP-IND = END--------- */
/* ----------------INDEX=END----------------- */
/* ----------------PRODUCTOS=START----------------- */
.main-productos, .main-novedades, .main-carrito {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
}
.main-productos__list-functions, .main-novedades__list-functions, .main-carrito__list-functions {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.main-productos__list-functions--div, .main-novedades__list-functions--div, .main-carrito__list-functions--div {
  justify-content: center;
  align-items: center;
  margin: 0 30px 5px 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.main-productos__list-functions--div--text, .main-novedades__list-functions--div--text {
  margin: 0;
  padding: 0 5px 0 0;
  font-size: 4vw;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.main-productos__list-functions--div--img, .main-novedades__list-functions--div--img, .main-carrito__list-functions--div--img {
  width: 4vw;
  color: rgb(255, 255, 255);
}
.main-productos__list-functions--div:hover h4, .main-novedades__list-functions--div:hover h4, .main-carrito__list-functions--div:hover h4 {
  color: rgb(30, 100, 100);
}
.main-productos__list-functions--div:hover svg, .main-novedades__list-functions--div:hover svg, .main-carrito__list-functions--div:hover svg {
  color: rgb(30, 90, 90);
}
.main-productos__section, .main-novedades__section, .main-carrito__section {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
}
.main-productos__section--ul, .main-novedades__section--ul, .main-carrito__section--ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  cursor: pointer;
}
.main-productos__section--ul .li-1, .main-novedades__section--ul .li-1, .main-carrito__section--ul .li-1, .main-productos__section--ul .li-2, .main-novedades__section--ul .li-2, .main-carrito__section--ul .li-2, .main-productos__section--ul .li-3, .main-novedades__section--ul .li-3, .main-carrito__section--ul .li-3, .main-productos__section--ul .li-4, .main-novedades__section--ul .li-4, .main-carrito__section--ul .li-4, .main-productos__section--ul .li-5, .main-novedades__section--ul .li-5, .main-carrito__section--ul .li-5, .main-productos__section--ul .li-6, .main-novedades__section--ul .li-6, .main-carrito__section--ul .li-6 {
  animation-delay: 0.1s;
}
.main-productos__section--ul--li {
  width: auto;
  border-bottom: 1px solid rgb(185, 185, 185);
  background-color: rgb(235, 235, 235);
}
.main-productos__section--ul--li:hover {
  background-color: rgb(225, 225, 225);
}
.main-productos__section--ul--li:active img {
  background-color: rgb(225, 225, 225);
}
.main-productos__section--ul--li:active h2 {
  font-size: 4.5vw;
}
.main-productos__section--ul--li:active h3 {
  font-size: 6.3vw;
}
.main-productos__section--ul--li--a, .main-novedades__section--ul--li--a, .main-carrito__section--ul--li--a {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.main-productos__section--ul--li--a--div {
  height: 100%;
  padding: 20px;
  text-align: start;
}
.main-productos__section--ul--li--a--div--product-name {
  font-size: 4.2vw;
  font-weight: 300;
  color: rgb(68, 133, 136);
  margin: 0;
  padding: 5px;
}
.main-productos__section--ul--li--a--product-price {
  font-size: 6vw;
  font-weight: 800;
  color: rgb(55, 106, 109);
  margin: 0;
  padding: 5px;
}
.main-productos__section--ul--li--a--img, .main-novedades__section--ul--li--a--img {
  width: 40vw;
  height: auto;
  padding: 0 20px 0 0;
  background-color: rgb(235, 235, 235);
}
.main-productos__section--button-mas, .main-carrito__section--button-carrito {
  font-size: 4vw;
  margin: 0;
  padding: 5px;
  color: rgb(80, 80, 80);
  background-color: rgb(235, 235, 235);
  border: 0;
}
.main-productos__section--button-mas:hover, .main-carrito__section--button-carrito:hover {
  background-color: rgb(235, 235, 235);
  color: rgb(30, 100, 100);
}
.main-productos__section--button-mas:active, .main-carrito__section--button-carrito:active {
  text-decoration: underline;
}
.main-productos .filt, .main-novedades .filt, .main-carrito .filt {
  justify-content: end;
  margin: 0 0 0 0;
}

/* ---------BREAKPOINT-MOBILE-PRO = START--------- */
@media (min-width: 576px) {
  .main-productos__section--ul--li:active h2 {
    font-size: 4.3vw;
  }
  .main-productos__section--ul--li:active h3 {
    font-size: 6.1vw;
  }
  .main-productos__section--ul--li--a--div--product-name {
    font-size: 4vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-productos__section--ul--li--a--product-price {
    font-size: 5.8vw;
    font-weight: 800;
    color: rgb(55, 106, 109);
  }
  .main-productos__section--ul--li--a--img, .main-novedades__section--ul--li--a--img {
    width: 35vw;
  }
}
/* ---------BREAKPOINT-MOBILE-PRO = END--------- */
/* ---------BREAKPOINT-TABLET-PRO = START--------- */
@media (min-width: 768px) {
  .main-productos__list-functions--div--text, .main-novedades__list-functions--div--text {
    font-size: 3vw;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .main-productos__list-functions--div--img, .main-novedades__list-functions--div--img, .main-carrito__list-functions--div--img {
    width: 3vw;
  }
  .main-productos__section--ul--li:active h2 {
    font-size: 4.1vw;
  }
  .main-productos__section--ul--li:active h3 {
    font-size: 5.3vw;
  }
  .main-productos__section--ul--li--a--div--product-name {
    font-size: 3.8vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-productos__section--ul--li--a--product-price {
    font-size: 5vw;
    font-weight: 800;
    color: rgb(55, 106, 109);
  }
  .main-productos__section--ul--li--a--img, .main-novedades__section--ul--li--a--img {
    width: 29vw;
  }
}
/* ---------BREAKPOINT-TABLET-PRO = END--------- */
/* ---------BREAKPOINT-DESKTOP-PRO = START--------- */
@media (min-width: 992px) {
  .main-productos__list-functions--div--text, .main-novedades__list-functions--div--text {
    font-size: 1.4vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-productos__list-functions--div--img, .main-novedades__list-functions--div--img, .main-carrito__list-functions--div--img {
    width: 1.4vw;
  }
  .main-productos__section, .main-novedades__section, .main-carrito__section {
    margin: 0 20px 20px 20px;
    border-radius: 15px;
  }
  .main-productos__section--ul, .main-novedades__section--ul, .main-carrito__section--ul {
    border-radius: 15px;
  }
  .main-productos__section--ul .li-2, .main-novedades__section--ul .li-2, .main-carrito__section--ul .li-2 {
    animation-delay: 100ms;
  }
  .main-productos__section--ul .li-3, .main-novedades__section--ul .li-3, .main-carrito__section--ul .li-3 {
    animation-delay: 0ms;
  }
  .main-productos__section--ul .li-4, .main-novedades__section--ul .li-4, .main-carrito__section--ul .li-4 {
    animation-delay: 0ms;
  }
  .main-productos__section--ul--li:active h2 {
    font-size: 1.6vw;
  }
  .main-productos__section--ul--li:active h3 {
    font-size: 2.1vw;
  }
  .main-productos__section--ul--li--a--div--product-name {
    font-size: 1.5vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-productos__section--ul--li--a--product-price {
    font-size: 2vw;
    font-weight: 800;
    color: rgb(55, 106, 109);
  }
  .main-productos__section--ul--li--a--img, .main-novedades__section--ul--li--a--img {
    width: 12vw;
  }
  .main-productos__section--button-mas, .main-carrito__section--button-carrito {
    font-size: 1.5vw;
    border-radius: 0 0 15px 15px;
  }
  .main-productos .first-product-li, .main-novedades .first-product-li, .main-carrito .first-product-li, .main-novedades .first-novedades-li, .main-carrito .first-novedades-li {
    border-radius: 15px 15px 0 0;
  }
  .main-productos .first-product-li img, .main-novedades .first-product-li img, .main-carrito .first-product-li img, .main-novedades .first-novedades-li img, .main-carrito .first-novedades-li img {
    border-radius: 15px 0 0 0;
  }
}
/* ---------BREAKPOINT-DESKTOP-PRO = END--------- */
/* ----------------PRODUCTOS=END----------------- */
/* ----------------NOVEDADES=START----------------- */
.main-novedades__list-functions, .main-carrito__list-functions {
  justify-content: start;
}
.main-novedades__list-functions--div:hover h4, .main-carrito__list-functions--div:hover h4 {
  color: rgb(30, 100, 100);
}
.main-novedades__section--ul--li {
  width: auto;
  border-bottom: 2px solid rgb(185, 185, 185);
  background-color: rgb(235, 235, 235);
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.main-novedades__section--ul--li:hover {
  background-color: rgb(225, 225, 225);
}
.main-novedades__section--ul--li:hover a {
  background-color: rgb(225, 225, 225);
}
.main-novedades__section--ul--li--a:hover, .main-carrito__section--ul--li--a:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 15px 15px 15px 15px;
}
.main-novedades__section--ul--li--a:active img, .main-carrito__section--ul--li--a:active img {
  background-color: rgb(225, 225, 225);
}
.main-novedades__section--ul--li--a:active h2, .main-carrito__section--ul--li--a:active h2 {
  font-size: 4.8vw;
}
.main-novedades__section--ul--li--a:active p, .main-carrito__section--ul--li--a:active p {
  font-size: 3.6vw;
}
.main-novedades__section--ul--li--a--div {
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.main-novedades__section--ul--li--a--div--title {
  font-size: 4.5vw;
  font-weight: 800;
  color: rgb(55, 106, 109);
  margin: 0;
  padding: 15px 15px 0 15px;
  text-align: start;
}
.main-novedades__section--ul--li--a--div--desc {
  font-size: 3.3vw;
  font-weight: 300;
  color: rgb(68, 133, 136);
  margin: 0;
  padding: 0 15px 15px 15px;
}
.main-novedades__section--ul--li--a--img {
  padding: 0 10px 0 0;
}
.main-novedades__section--ul--li--x, .main-carrito__section--ul--li--delete {
  height: auto;
  padding: 10px 10px 0 0;
}
.main-novedades__section--ul--li--x svg, .main-carrito__section--ul--li--delete svg {
  width: 10vw;
  cursor: pointer;
}
.main-novedades__section--ul--li--x svg:hover path, .main-carrito__section--ul--li--delete svg:hover path {
  color: rgb(30, 100, 100);
}
.main-novedades__section--ul--li--x svg:active path, .main-carrito__section--ul--li--delete svg:active path {
  transform: scale(1.07);
}
.main-novedades__section--ul--li--x svg path, .main-carrito__section--ul--li--delete svg path {
  color: rgb(30, 55, 56);
}
.main-novedades .first-novedades-li img, .main-carrito .first-novedades-li img {
  border-radius: 15px 0 0 0;
}
.main-novedades .last-novedades-li, .main-carrito .last-novedades-li {
  border-radius: 0 0 15px 15px;
  border: none;
}
.main-novedades .last-novedades-li img, .main-carrito .last-novedades-li img {
  border-radius: 0 0 0 15px;
}

/* ---------BREAKPOINT-MOBILE-NOV = START--------- */
@media (min-width: 576px) {
  .main-novedades__list-functions--div--text {
    font-size: 3vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-novedades__list-functions--div--img, .main-carrito__list-functions--div--img {
    width: 3vw;
  }
  .main-novedades__section--ul--li--a:active h2, .main-carrito__section--ul--li--a:active h2 {
    font-size: 4.5vw;
  }
  .main-novedades__section--ul--li--a:active p, .main-carrito__section--ul--li--a:active p {
    font-size: 3.3vw;
  }
  .main-novedades__section--ul--li--a--div--title {
    font-size: 4.2vw;
    font-weight: 800;
    color: rgb(55, 106, 109);
  }
  .main-novedades__section--ul--li--a--div--desc {
    font-size: 3vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-novedades__section--ul--li--a--img {
    width: 30vw;
  }
  .main-novedades__section--ul--li--x svg, .main-carrito__section--ul--li--delete svg {
    width: 9vw;
  }
}
/* ---------BREAKPOINT-MOBILE-NOV = END--------- */
/* ---------BREAKPOINT-TABLET-NOV = START--------- */
@media (min-width: 768px) {
  .main-novedades__section--ul--li--a:active h2, .main-carrito__section--ul--li--a:active h2 {
    font-size: 4.2vw;
  }
  .main-novedades__section--ul--li--a:active p, .main-carrito__section--ul--li--a:active p {
    font-size: 3vw;
  }
  .main-novedades__section--ul--li--a--div--title {
    font-size: 3.9vw;
    font-weight: 800;
    color: rgb(55, 106, 109);
  }
  .main-novedades__section--ul--li--a--div--desc {
    font-size: 2.7vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-novedades__section--ul--li--a--img {
    width: 20vw;
  }
  .main-novedades__section--ul--li--x svg, .main-carrito__section--ul--li--delete svg {
    width: 8vw;
  }
}
/* ---------BREAKPOINT-TABLET-NOV = END--------- */
/* ---------BREAKPOINT-DESKTOP-NOV = START--------- */
@media (min-width: 992px) {
  .main-novedades__list-functions--div--text {
    font-size: 1.4vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-novedades__list-functions--div--img, .main-carrito__list-functions--div--img {
    width: 1.4vw;
  }
  .main-novedades__section--ul--li--a:active h2, .main-carrito__section--ul--li--a:active h2 {
    font-size: 2.6vw;
  }
  .main-novedades__section--ul--li--a:active p, .main-carrito__section--ul--li--a:active p {
    font-size: 1.6vw;
  }
  .main-novedades__section--ul--li--a--div--title {
    font-size: 2.5vw;
    font-weight: 600;
    color: rgb(55, 106, 109);
  }
  .main-novedades__section--ul--li--a--div--desc {
    font-size: 1.5vw;
    font-weight: 300;
    color: rgb(68, 133, 136);
  }
  .main-novedades__section--ul--li--a--img {
    width: 12vw;
  }
  .main-novedades__section--ul--li--x svg, .main-carrito__section--ul--li--delete svg {
    width: 5vw;
  }
}
/* ---------BREAKPOINT-DESKTOP-NOV = END--------- */
/* ----------------NOVEDADES=END----------------- */
/* ----------------CARRITO=START----------------- */
.main-carrito__list-functions--div--text {
  margin: 0;
  padding: 0 5px 0 0;
  font-size: 4vw;
  font-weight: 600;
  color: rgb(255, 251, 252);
}
.main-carrito__list-functions--div:hover h4 {
  color: rgb(30, 100, 100);
}
.main-carrito__section {
  margin: 0 20px 0px 20px;
}
.main-carrito__section--ul--li {
  width: auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(185, 185, 185);
  background-color: rgb(235, 235, 235);
}
.main-carrito__section--ul--li:hover {
  background-color: rgb(225, 225, 225);
}
.main-carrito__section--ul--li--a:hover {
  background-color: rgb(225, 225, 225);
  border-radius: 15px 15px 15px 15px;
}
.main-carrito__section--ul--li--a:active img {
  height: auto;
  background-color: rgb(225, 225, 225);
}
.main-carrito__section--ul--li--a:active h2 {
  font-size: 4.8vw;
}
.main-carrito__section--ul--li--a--text {
  font-size: 4.5vw;
  font-weight: 500;
  color: rgb(55, 106, 109);
  margin: 0;
  padding: 5px;
  text-align: start;
}
.main-carrito__section--ul--li--a--img {
  width: 30vw;
  padding: 0 10px 0 0;
  background-color: rgb(235, 235, 235);
}
.main-carrito__section--ul--li--delete svg {
  width: 6vw;
  cursor: pointer;
}
.main-carrito__section--ul--li--delete svg:hover path {
  color: rgb(30, 100, 100);
}
.main-carrito__section--ul--li--delete svg:active path {
  transform: scale(1.07);
}
.main-carrito__section--ul--li--delete svg path {
  color: rgb(30, 55, 56);
}
.main-carrito__section--button-carrito {
  margin: 10px;
  padding: 5px;
  color: rgb(235, 235, 235);
  background-color: rgb(42, 82, 84);
  border: 2px solid rgb(255, 251, 252);
  border-radius: 15px 15px 15px 15px;
}
.main-carrito__section--button-carrito:hover {
  background-color: rgb(34, 66, 68);
}
.main-carrito__section--button-carrito:active {
  text-decoration: underline;
}
.main-carrito .first-carrito-li {
  border-radius: 15px 15px 0 0;
}
.main-carrito .first-carrito-li img {
  border-radius: 15px 0 0 0;
}
.main-carrito .last-carrito-li {
  border-radius: 0 0 15px 15px;
  border: none;
}
.main-carrito .last-carrito-li img {
  border-radius: 0 0 0 15px;
}

/* ---------BREAKPOINT-MOBILE-CAR = START--------- */
@media (min-width: 576px) {
  .main-carrito__list-functions--div--text {
    font-size: 3vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-carrito__list-functions--div--img {
    width: 3vw;
  }
  .main-carrito__section--ul--li--a:active h2 {
    font-size: 4.1vw;
  }
  .main-carrito__section--ul--li--a--text {
    font-size: 4vw;
    font-weight: 500;
    color: rgb(55, 106, 109);
  }
  .main-carrito__section--ul--li--a--img {
    width: 25vw;
  }
  .main-carrito__section--ul--li--delete svg {
    width: 5vw;
  }
  .main-carrito__section--button-carrito {
    font-size: 3.8vw;
  }
}
/* ---------BREAKPOINT-MOBILE-CAR = END--------- */
/* ---------BREAKPOINT-TABLET-CAR = START--------- */
@media (min-width: 768px) {
  .main-carrito__list-functions--div--text {
    font-size: 2.8vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-carrito__list-functions--div--img {
    width: 2.8vw;
  }
  .main-carrito__section--ul--li--a:active h2 {
    font-size: 3.6vw;
  }
  .main-carrito__section--ul--li--a--text {
    font-size: 3.5vw;
    font-weight: 500;
    color: rgb(55, 106, 109);
  }
  .main-carrito__section--ul--li--a--img {
    width: 20vw;
  }
  .main-carrito__section--ul--li--delete svg {
    width: 4vw;
  }
  .main-carrito__section--button-carrito {
    font-size: 3vw;
  }
}
/* ---------BREAKPOINT-TABLET-CAR = END--------- */
/* ---------BREAKPOINT-DESKTOP-CAR = START--------- */
@media (min-width: 992px) {
  .main-carrito__list-functions--div--text {
    font-size: 1.4vw;
    font-weight: 600;
    color: rgb(255, 251, 252);
  }
  .main-carrito__list-functions--div--img {
    width: 1.4vw;
  }
  .main-carrito__section--ul--li--a:active h2 {
    font-size: 2.8vw;
  }
  .main-carrito__section--ul--li--a--text {
    font-size: 2.7vw;
    font-weight: 500;
    color: rgb(55, 106, 109);
  }
  .main-carrito__section--ul--li--a--img {
    width: 12vw;
  }
  .main-carrito__section--ul--li--delete svg {
    width: 3vw;
  }
  .main-carrito__section--button-carrito {
    font-size: 2vw;
  }
}
/* ---------BREAKPOINT-DESKTOP-CAR = END--------- */
/* ---------------NOSOTROS=START----------------- */
.main-nosotros {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  overflow: hidden;
}
.main-nosotros__section {
  display: flex;
  flex-direction: column;
}
.main-nosotros__section .li-2 {
  animation-delay: 0.7s;
}
.main-nosotros__section--article {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.main-nosotros__section--article--image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}
.main-nosotros__section--article--text {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
  font-size: 4vw;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.main-nosotros__section--article--text span {
  color: rgb(30, 90, 90);
}
.main-nosotros__founders {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.main-nosotros__founders .li-4 {
  animation-delay: 0.3s;
}
.main-nosotros__founders .li-5 {
  animation-delay: 0.5s;
}
.main-nosotros__founders--div {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.main-nosotros__founders--div--img {
  width: 60%;
}
.main-nosotros__founders--div--name {
  margin: 0;
  padding: 5px;
  font-size: 7vw;
  font-weight: 600;
  color: rgb(55, 106, 109);
}
.main-nosotros__founders--div--position {
  margin: 0;
  padding: 5px;
  font-size: 5vw;
  font-weight: 400;
  color: rgb(114, 114, 114);
}

/* ---------BREAKPOINT-MOBILE-NOS = START--------- */
@media (min-width: 576px) {
  .page-main-text {
    font-size: 11vw;
  }
  .main-nosotros__section--article--image {
    width: 85%;
  }
  .main-nosotros__section--article--text {
    font-size: 4vw;
  }
}
/* ---------BREAKPOINT-MOBILE-NOS = END--------- */
/* ---------BREAKPOINT-TABLET-NOS = START--------- */
@media (min-width: 768px) {
  .page-main-text {
    font-size: 10vw;
  }
  .main-nosotros__section--article--image {
    width: 85%;
  }
  .main-nosotros__section--article--text {
    font-size: 3vw;
  }
  .main-nosotros__founders {
    width: 100%;
    flex-direction: row;
  }
  .main-nosotros__founders--div {
    width: 33%;
  }
  .main-nosotros__founders--div--img {
    width: 100%;
  }
  .main-nosotros__founders--div--name {
    font-size: 4.5vw;
  }
  .main-nosotros__founders--div--position {
    font-size: 3vw;
  }
}
/* ---------BREAKPOINT-TABLET-NOS = END--------- */
/* ---------BREAKPOINT-DESKTOP-NOS = START--------- */
@media (min-width: 992px) {
  .page-main-text {
    font-size: 4vw;
  }
  .art-nos-1 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: end;
  }
  .art-nos-2 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
  }
  .art-nos-3 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: end;
  }
  .main-nosotros__section--article--image {
    width: 35%;
    padding: 5px;
  }
  .main-nosotros__section--article--text {
    width: 50%;
    margin: 0;
    padding: 5px;
    font-size: 1.5vw;
    font-weight: 500;
    color: rgb(0, 0, 0);
  }
  .main-nosotros__founders--div--img {
    width: 50%;
  }
  .main-nosotros__founders--div--name {
    font-size: 2vw;
    font-weight: 600;
    color: rgb(55, 106, 109);
    margin: 0;
    padding: 5px;
  }
  .main-nosotros__founders--div--position {
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin: 0;
    padding: 0;
  }
}
/* ---------BREAKPOINT-DESKTOP-NOS = END--------- */
/* ---------------NOSOTROS=END----------------- */

/*# sourceMappingURL=main.css.map */
