/* CONFIGURACION GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
   font-family: 'Mulish', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
/* ---- */

html{
   font-size: 62,5%;
   scroll-behavior: smooth;
   overflow-x: hidden;
}
/* ---- */

#inicio, #productos, #novedades, #carrito, #nosotros{
   z-index: -1000;
}

/* ---- */

 /* HEADER = START */
.header{
   width: 100%;
   background-color: rgb(37, 37, 37);
   box-shadow: 0px 3px 20px 0px rgb(0, 0, 0);
   overflow: hidden;
   display: flex;
   flex-direction: row;
   position: sticky;
   top: 0;
   left: 0;
   align-items: center;
   justify-content: center;
}

.header__first{
   display: flex;
   flex-direction: row;
   overflow: hidden;
}

/* HEADER-logo = START */
.header__first--logo{
   align-content: center;
   padding: 10px 15px;
}

.header__first--logo--full{
   width: 300px;
   height: auto;
   display: none;
}
.header__first--logo--full:hover{
   transform:scale(1.03);
}

   .header__first--logo--mini{
      width: 9vw;
      height: auto;
   }
   .header__first--logo--mini:hover {
      transform:scale(1.02);
   }
/* HEADER-logo = END */

/* HEADER-sup = START */
.header__first--nav-sup{
   padding: 10px 15px;
   display: flex;
   align-items: center;
   justify-content: end;
   overflow: hidden;
}

   .header__first--nav-sup--lupa-1{
      width: 9vw;
      margin-right: 10px;
      background-color: transparent;
      text-decoration: none;
      transform: scaleX(-1);
      cursor: pointer;
   }
   .header__first--nav-sup--lupa-1:hover{
      transform:scale(1.1) scaleX(-1);
   }

      .header__first--nav-sup--lupa-1 path{
         color: rgb(193, 193, 193);
      }

         .header__first--nav-sup--list{
            width: 11vw;
            height: auto;
            color: rgb(193, 193, 193);
         }
/* HEADER-sup = END */

/* NAV = START */
.nav{
   background-color: rgb(37, 37, 37);
   text-align: center;
   justify-content: center;
   overflow: hidden;
   display: flex;
   z-index: 4900;
}

/* NAV-items = START */
.nav__ul{
   display: flex;
   flex-direction: column;
   padding: 7px 15px;
   justify-items: center;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

   .nav__ul--li{
      width: 100%;
      padding: 0;
      margin: 4px;
      background-color: rgb(132, 132, 132);
      border-radius: 10px;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
   }
   .nav__ul--li:hover{
      background-color: rgb(54, 110, 174);
      transform:scale(1.03);
   }
   .nav__ul--li:hover h4{
      font-weight: 800;
      color: rgb(193, 193, 193);
   }
   .nav__ul--li:hover path{
      color: rgb(193, 193, 193);
   }
   
      .nav__ul--li--svg{
         width: 13vw;
         height: auto;
         transform: scaleX(-1);
      }
      
         .nav__ul--li--svg path{
            color: rgb(193, 193, 193);
         }

            .nav__ul--li--subpages{
               align-items: center;
               font-size: 4vw;
               margin: 20px;
               color: rgb(193, 193, 193);
               display: none;
            } 
/* NAV-items = END */   

/* NAV-id = START */
#BusquedaNav{
   display: none;
}
#ProductosNav{
   display: none;
}
#NosotrosNav{
   display: none;
}
#ContactanosNav{
   display: none;
}
/* NAV-id = END */

/* NAV-login = START */
.nav__log{
   display: flex;
   padding: 0;
   margin: 4px;
   background-color: transparent;
   overflow: hidden;
}

   .nav__log--login{
      text-decoration: none;
   }
   
      .nav__log--login--button{
         padding: 2px;
         margin: 0;
         border: 2px solid rgb(193, 193, 193);
         border-radius: 100px;
         background-color: transparent;
         align-items: center;
         justify-content: center;
         display: flex;
         cursor: pointer;
      }

      .nav__log--login--button:hover{
         background-color: rgb(54, 110, 174);
      }
      .nav__log--login--button:hover span{
         font-weight: 800;
      }

         .nav__log--login--button--img1{
            width: 14vw;
            padding: 3px 0 3px 3px;
            margin-right: 4px;
         }

            .nav__log--login--button--span1{
               font-size: 6vw;
               font-weight: 700;
               padding-right: 4px;
               color: rgb(241, 241, 241);
               text-align: center;
               text-decoration: none;
            }
            .nav__log--login--button:active span{
               text-decoration: underline;
            }
/* NAV-login = END */

/* NAV-subpaginas = START */
.nav__text{
   margin: 4px;
}

.nav__text__ul{
   list-style: none;
}
.nav__text__ul--subpages-text-only{
   width: 100%;
   padding: 7px;
   text-decoration: none;
   }

      .nav__text__ul--subpages-text-only a{
         font-size: 6vw;
         font-weight: 500;
         color: rgb(193, 193, 193);
         display: inline;
         text-decoration: none;
      }

         .nav__text__ul--subpages-text-only:hover a{
            color: rgb(54, 110, 174);
            text-decoration: underline;
            transform:scale(1.04)
         }
/* NAV-subpaginas = END */

/* HEADER-subpaginas-desktop = START */
.header__desktop-subpages{
   display: none;
}
/* HEADER-subpaginas-desktop = END */
/* NAV = END */
/* HEADER = END */

/* ----------------INDEX=START----------------- */
/* MAIN-(index) = START */
.main-index{
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   z-index: -1000;
   overflow: hidden;
}

   .main-index__bg{
      width: 100%;
      height: 100%;
      background-image: url(../imagenes/deposito.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      filter: brightness(0.8) blur(3px);
      overflow: hidden;
   }

      .main-index__text{
         width: 100%;
         height: 100%;
         padding: 5px;
         text-align: center;
         display: flex;
         justify-content: center;
         position:absolute;
         top: 10%;
         left: 0;
         align-items: center;
      }

         .main-index__text h1{
            font-size: 13vw;
            font-weight: 800;
            color: rgb(210, 210, 210);
         }
/* MAIN-(index) = END */

/* SECTION-1-(index) = START */
.section-1-index{
   width: 100%;
   height: auto;
   padding: 10px 30px 10px 30px;
   background-color: rgb(208, 208, 208);
   display: flex;
   z-index: 15000;
   justify-content: center;
   text-align: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
}

   .section-1-index__text{
      font-weight: 600;
      font-size: 10vw;
      margin: 15px 0 10px 0px;
      color: rgb(54, 110, 174);
   }

      .section-1-index__article-1{
         height: auto;
         display: flex;
         justify-content: center;
         flex-direction: row;
         flex-wrap: wrap;
      }

         .section-1-index__article-1--figure{
            height: auto;
            margin: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            border: 2px solid rgb(142, 142, 142);
            display: flex;
            justify-content: center;
            align-content: center ;
            flex-direction: column;
            cursor: pointer;
         }
         .section-1-index__article-1--figure:active{
            box-shadow: 0px 3px 20px 0px rgb(0, 0, 0);
         }

            .section-1-index__article-1--figure--img{
               width: 90%;
            }

            .section-1-index__article-1--figure--figcap{
               font-size: 6vw;
               font-weight: 700;
               padding-top: 5px;
               color: rgb(54, 110, 174);
               border-top: 1px solid rgb(54, 110, 174);
               text-align: center;
               position: relative;
               top: -10px;
            }

.section-1-index div{
   margin: 10px 0 10px 0;
}

   .section-1-index div a{
      margin-bottom: 5px;
      font-size: 5.5vw;
      color: rgb(110, 110, 110);
      text-decoration: none;
   }
   .section-1-index div a:hover{
      color: rgb(74, 74, 74);
   }
   .section-1-index div a:active{
      text-decoration: underline;
   }
/* SECTION-1-(index) = END */
/* ----------------INDEX=END----------------- */

/* FOOTER = START */
.footer{
   width: 100%;
   height: auto;
   padding: 20px 0px 10px 0px;
   background-color: rgb(84, 84, 84);
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   overflow: hidden;
}

   .footer__main-text{
      width: 100%;
      height: auto;
      padding: 10px;
      color: rgb(241, 241, 241);
   }

      .footer__main-text h3{
         font-size: 11vw;
         font-weight: 700;
         padding: 10px;
      }

         .footer__content{
            width: 100%;
            height: auto;
            justify-content: center;
            align-content: center;
            display: flex;
            flex-wrap: wrap;
         }

/* FOOTER-items = START */
.footer__content--contact-items{
   margin: 20px;
   height: auto;
   display: flex;
   justify-content: center;
}

   .footer__content--contact-items--ul{
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

      .footer__content--contact-items--ul--li{
         width: auto;
         height: auto;
         padding: 10px;
         list-style: none;
         display: flex;
         flex-direction: row;
         justify-content: start;
         align-items: center;
      }

         .footer__content--contact-items--ul--li svg{
            width: 11vw;
            margin-right: 20px;
            height: auto;
            color: rgb(241, 241, 241);
         }

            .footer__content--contact-items--ul--li h5{
               font-size: 4.5vw;
               font-weight: 400;
               margin-left: 10px;
               color: rgb(241, 241, 241);
            }  
/* FOOTER-items = END */

/* FOOTER-form = START */
.footer__form{
   margin: 20px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

   .footer__form h4{
      font-size: 5.5vw;
      font-weight: 700;
      color: rgb(241, 241, 241);
   }

      .footer__form--formulario{
         width: 90%;
         height: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

input[type="text"], input[type="email"], textarea{
   font-size: 5vw;
   padding: 10px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   width: 100%;
}

   textarea{
      height: 15vh;
      resize: none;
   }

      input[type="submit"]{
         width: 100%;
         height: auto;
         font-size: 5.5vw;
         padding: 5px 20px;
         margin: 5px;
         color: rgb(241, 241, 241) ;
         background-color: rgb(62, 125, 197);
         border: 1px solid rgb(241, 241, 241);
         border-radius: 5px;
         cursor: pointer;
      }
      input[type="submit"]:hover{
         background-color: rgb(49, 104, 166);
      }
/* FOOTER-form = END */

/* FOOTER-map = START */
.footer__map{
   height: auto;
   padding: 10px;
}
   .footer__map iframe{
      width: 100%;
      height: 80vh;
      border: none;
   }
/* FOOTER-map = END */

/* FOOTER-redes = START */
.footer__redes{
   width: 100%;
   margin: 20px;
   display: flex;
}

   .footer__redes--ul{
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }

      .footer__redes--ul--li{
         display: flex;
         flex-direction: row;
         padding: 10px;
         justify-content: space-between;
      }

         .footer__redes--ul--li a svg{
            width: 12vw;
            color: rgb(70, 140, 221);
            height: auto;
         }
/* FOOTER-redes = END */

/* FOOTER-desc = START */
.footer__desc{
   width: 100%;
   padding: 10px;
   border-top: 1px solid rgb(172, 172, 172);
   display: flex;
   justify-content: center;
   align-items: center;
}

   .footer__desc h6{
      font-size: 3vw;
      margin: 0px;
      color: rgb(172, 172, 172);
   }
/* FOOTER-desc = END */
/* FOOTER = END */


/* ----------------NOSOTROS=START----------------- */
/* MAIN-(nosotros) = START */
.main-nosotros{
   justify-content: center;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-color: rgb(208, 208, 208);
}

   .page-main-text{
      width: 100%;
      padding: 25px 20px 20px 20px;
      margin: 0;
      text-align: center;
      align-items: center;
      font-size: 12vw;
      font-weight: 600;
      color: rgb(105, 105, 105);
   }

/* SECTION-(nosotros) = START */
.main-nosotros__section{
display: flex;
flex-direction: column;
}
/* ARTICLE-(nosotros)-1 = START */
.main-nosotros__section--article{
   width: 100%;
   padding: 20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}

   .main-nosotros__section--article--image{
      width: 100%;
      padding: 5px;
   }

      .main-nosotros__section--article--text{
         width: 100%;
         font-size: 4vw;
         font-weight: 500;
         padding: 5px;
         margin: 0;
      }
/* ARTICLE-(nosotros)-1 = END */
/* SECTION-(nosotros) = END */

/* FUNDADORES-(nosotros) = START */
.main-nosotros__founders{
   width: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

   .main-nosotros__founders--div{
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
   }

      .main-nosotros__founders--div--img{
         width: 60%;
      }

         .main-nosotros__founders--div--name{
            color: rgb(54, 110, 174);
            font-size: 7vw;
            font-weight: 600;
            padding: 5px;
            margin: 0;
         }

            .main-nosotros__founders--div--position{
               color: rgb(104, 104, 104);
               font-weight: 400;
               font-size: 5vw;
               padding: 0;
               margin: 0;
            }
/* FUNDADORES-(nosotros) = END */
/* MAIN-(nosotros) = END */
/* ----------------NOSOTROS=END----------------- */


/* ----------------PRODUCTOS=START----------------- */
/* 
      Toda la configuracion la hice primero version desktop asi que esta en
                     "@media (min-width:982px)"
*/
/* ----------------PRODUCTOS=END----------------- */


/* ----------------NVEDADES=START----------------- */
/* 
      Toda la configuracion la hice primero version desktop asi que esta en
                     "@media (min-width:982px)"
*/
/* ----------------NOVEDADES=END----------------- */


/* ----------------CARRITO=START----------------- */
/* 
      Toda la configuracion la hice primero version desktop asi que esta en
                     "@media (min-width:982px)"
*/
/* ----------------CARRITO=END----------------- */


/* BREAKPOINTS - START*/
/* BREAKPOINT-SM = START*/
@media (min-width:576px){
/* ALL-PAGES = START */

   /* HEADER = START */
   .header__first--nav-sup--lupa-1{
      width: 8vw;
   }

      .header__first--nav-sup--list{
         width: 10vw;
      }

         .header__first--logo--mini{
            width: 8vw;
         }

   .nav__log{
      justify-content: center;
   }

      .nav__log--login--button--img1{
         width: 11vw;
      }

         .nav__log--login--button--span1{
            font-size: 5vw;
         }

            .nav__ul{
               flex-direction: row; 
            }

               .nav__ul--li{
                  width: 100%;
                  padding: 20px 30px;
               }

                  .nav__ul--li--svg{
                     width: 10vw;
                  }

                     .nav__text__ul--subpages-text-only a{
                        font-size: 4.5vw;
                     }
   /* HEADER = END */

   /* FOOTER = START */
   input[type="text"], input[type="email"], textarea{
      font-size: 4vw;
   }

      input[type="submit"]{
         font-size: 5vw;
      }
   /* FOOTER = END */

/* ALL-PAGES = END */

/* ----------------INDEX=START----------------- */
   .main-index__text h1{
      font-size: 11vw;
   }
   .section-1-index__text{
      font-size: 9.5vw;
   }

      .section-1-index__article-1--figure--figcap{
         font-size: 5.5vw;
      }

         .section-1-index div a{
            font-size: 5vw;
         }
/* ----------------INDEX=END----------------- */

/* ----------------NOSOTROS=START----------------- */
   .page-main-text{
      font-size: 11vw;
   }

      .main-nosotros__section--article--image{
         width: 110%;
      }
/* ----------------NOSOTROS=END----------------- */
}
/* BREAKPIOINT-SM = END */


/* BREAKPOINT-MD = START */
@media (min-width: 768px){
/* ALL-PAGES = START */

   /* HEADER = START */
   .header__first--logo--mini{
      display: none;
   }

      .header__first--logo--full{
         width: 27vw;
         display: flex;
      }

         .header__first--nav-sup--lupa-1{
            width: 7vw;
         }

            .header__first--nav-sup--list{
               width: 9vw;
            }

   .nav__log{
      margin: 10px;
   }

      .nav__log--login--button--img1{
         width: 9vw;
      }

         .nav__log--login--button--span1{
            font-size: 4vw;
            padding-right: 6px;
         }

            .nav__ul{
               flex-direction: column;
            }

               .nav__ul--li{
                  margin: 10px;
                  padding: 0px;
               }

                  .nav__ul--li--svg{
                     width: 9vw;
                  }

                     .nav__ul--li a{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                     }

                        .nav__ul--li--subpages{
                           margin: 10px;
                           display: flex;
                        }
   /* HEADER = END */

   /* FOOTER = START  */
   .footer__main-text h3{
      font-size: 9.5vw;
   }

      .footer__content--contact-items--ul--li svg{
         width: 9vw;
      }

         .footer__content--contact-items--ul--li h5{
            font-size: 3.5vw;
         }

            input[type="text"], input[type="email"], textarea{
               font-size: 3.5vw;
            }

               input[type="submit"]{
                  font-size: 4vw;
               }

                  .footer__redes--ul--li a svg{
                     width: 9vw;
                  }
   /* FOOTER = END */
/* ALL-PAGES = END */

/* ----------------INDEX=START----------------- */
   .main-index__text h1{
      font-size: 9.5vw;
   }

      .section-1-index__text{
         font-size: 8vw;
      }

         .section-1-index__article-1--figure--figcap{
            font-size: 5vw;
         }
/* ----------------INDEX=END----------------- */

/* ----------------NOSOTROS=START----------------- */
   .page-main-text{
      font-size: 10vw;
   }

      .main-nosotros__section--article--image{
         width: 85%;
      }

         .main-nosotros__founders{
            width: 100%;
            flex-direction: row;
         }

            .main-nosotros__founders--div{
               width: 33%;
            }

               .main-nosotros__founders--div--img{
                  width: 100%;
               }

                  .main-nosotros__founders--div--name{
                     font-size: 4.5vw;
                  }

                     .main-nosotros__founders--div--position{
                        font-size: 3vw;
                     }
/* ----------------NOSOTROS=END----------------- */
}
/* BREAKPOINT-MD = END */


/* BREAKPOINT-LG = START */
@media (min-width: 992px){
/* ALL-PAGES = START */
   /* HEADER = START */
   .header{
      display: flex;
      flex-direction: column;
   }

      .header__first{
         display: flex;
         flex-direction: row;
      }

         .header__first--logo--full{
            width: 130px;
         }

            .header__first--nav-supupup{
               display: none;
            }

   .nav{
      display: flex;
      flex-direction: row-reverse;
      justify-content: end;
   }

      .nav__log{
         width: auto;
         display: flex;
         flex-direction: row;
         justify-content: end;
      }

         .nav__log--login--button--img1{
            width: 30px;
         }

            .nav__log--login--button--span1{
               font-weight: 400;
               font-size: 15px;
               padding-right: 6px;
            }

               .navbar-expand-lg .navbar-nav {
                  flex-direction: row-reverse;
               }

                  .nav__ul{
                     padding: 0;
                     display: flex;
                     width: auto;
                  }

                     .nav__ul--li{
                        width: auto;
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                     }

                        .nav__ul--li:hover{
                           background-color: transparent;
                        }

                           .nav__ul--li--svg{
                              width: 30px;
                           }

                              .nav__ul--li--svg path{
                                 color: rgb(193, 193, 193);
                              }
                              .nav__ul--li:hover path{
                                 color: rgb(54, 110, 174);
                                 transform:scale(1.03);
                              }

                                 .nav__ul--li a{
                                    display: flex;
                                    text-align: center;
                                    align-items: center;
                                    justify-content: center;
                                 }

                                    .nav__ul--li--subpages{
                                       display: none;
                                    }

   #ProductosItem{
      display: none;
   }

   #BusquedaNav{
      display: flex;
   }

   .nav__textttt{
      display: none;
   }

      .header__desktop-subpages{
         width: 100%;
         display:flex;
         background: rgb(221, 221, 221);
         justify-content: center;
         align-items: center;
      }

         .header__desktop-subpages__ul{
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
         }

            .header__desktop-subpages__ul--li{
               padding: 3px;
               text-align:center ;
               width: 100%;
            }
            .header__desktop-subpages__ul--li:hover{  
               background-color: rgb(158, 158, 158);
               padding: 0;
            }

               .header__desktop-subpages__ul--li a{
                  display: block;
                  font-size: 16px;
                  color: rgb(44, 44, 44);
                  text-decoration: none;
               }

                  .header__desktop-subpages__ul--li:hover a{
                     font-size: 18px;
                  }
   /* HEADER = END */

   /* FOOTER = START */
   #footer-nav{
      width: 100%;
      height: 50px;
      background-color: rgb(84, 84, 84);
   }
      .footer__main-text h3{
         font-size: 70px;
      }

         .footer__content--contact-items{
            align-items: center;
            justify-content: start;
         }
            .footer__content--contact-items--ul--li svg{
               width: 45px;
            }

               .footer__content--contact-items--ul--li h5{
                  font-size: 20px;
               }

                  .footer__form{
                     align-content: start;
                     justify-content: center;
                  }

                     .footer__form h4{
                        font-size: 30px;
                     }

                        input[type="text"], input[type="email"], textarea{
                           font-size: 19px;
                        }

                           input[type="submit"]{
                              font-size: 22px;
                           }

                              .footer__redes{
                                 margin: 20px;
                                 display: flex;
                              }

                                 .footer__redes--ul{
                                    justify-content: space-evenly;
                                 }
                                    .footer__redes--ul--li a svg{
                                       width: 70px;
                                    }

                                       .footer__desc h6{
                                          font-size: 12px;
                                       }
   /* FOOTER = END */
/* ALL-PAGES = END */

/* ----------------INDEX=STAR----------------- */
   .main-index__text h1{
      font-size: 5.5vw;
      font-weight: 800;
      color: rgb(210, 210, 210);
   }

   #ProDest{
      width: 100%;
      height: 80px;
      background-color: rgb(208, 208, 208);
   }

   .section-1-index__text{
      font-weight: 700;
      font-size: 5vw;
      margin: 15px 0 10px 0px;
   }

      .section-1-index__article-1--figure{
         justify-content: center;
      }
         .section-1-index__article-1--figure:hover{
            box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
         }
            .section-1-index__article-1--figure:active{
               transform: scale(1.02);
            }

               .section-1-index__article-1--figure--img{
                  width: 80%;
               }

                  .section-1-index__article-1--figure--figcap{
                     font-size: 25px;
                  }
   
                     .section-1-index div a{
                        font-size: 30px;
                     }
                     .section-1-index div a:hover{
                        color: rgb(62, 62, 62);
                     }
/* ----------------INDEX=END----------------- */

/* ----------------NOSOTROS=START----------------- */
   .page-main-text{
      font-size: 4vw;
   }

   .art-nos-1{
      justify-content: space-evenly;
      text-align: end;
      display: flex;
      flex-direction: row;
   }

      .art-nos-2{
         justify-content: space-evenly;
         text-align: start;
         display: flex;
         flex-direction: row-reverse;
      }

         .art-nos-3{
            justify-content: space-evenly;
            text-align: end;
            display: flex;
            flex-direction: row;
         }

            .main-nosotros__section--article--image{
               width: 35%;
               padding: 5px;
            }

               .main-nosotros__section--article--text{
                  width: 50%;
                  font-size: 2vw;
                  font-weight: 500;
                  padding: 5px;
                  margin: 0;
               }

   .main-nosotros__founders--div--img{
      width: 50%;
   }

      .main-nosotros__founders--div--name{
         color: rgb(54, 110, 174);
         font-size: 2vw;
         font-weight: 600;
         padding: 5px;
         margin: 0;
      }

         .main-nosotros__founders--div--position{
            color: rgb(104, 104, 104);
            font-weight: 400;
            font-size: 1.5vw;
            padding: 0;
            margin: 0;
         }
/* ----------------NOSOTROS=END----------------- */

/* ----------------PRODUCTOS=START----------------- */
.main-productos{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-color: rgb(208, 208, 208);
}

   .main-productos__list-functions{
      display: flex;
      flex-direction: row;
      justify-content: start;
   }

      .main-productos__list-functions--div{
         display: flex;
         flex-direction: row;
         margin: 0 30px 5px 0px;
         cursor: pointer;
      }

         .main-productos__list-functions--div--text{
            font-size: 1.4vw;
            font-weight: 600;
            padding-right: 5px;
            margin: 0;
            color: rgb(255, 255, 255);
         }
         .main-productos__list-functions--div:hover h4{
            color: rgb(54, 110, 174);
         }

            .main-productos__list-functions--div--img{
               width: 1.4vw;
               color: rgb(255, 255, 255);
            }
            .main-productos__list-functions--div:hover svg{
               color: rgb(54, 110, 174);
            }

.main-productos__section{
   margin: 0 20px 20px 20px;
   display: flex;
   flex-direction: column;
   background-color: rgb(255, 255, 255);
   border-radius: 15px;
}

   .main-productos__section--ul{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      list-style: none;
   }

      .main-productos__section--ul--li{
         width: 100%;
         border-bottom: 2px solid rgb(185, 185, 185);
         background-color: rgb(244, 244, 244);
      }
      .main-productos__section--ul--li:hover{
         background-color: rgb(224, 224, 224);
      }
      .main-productos__section--ul--li:active img{
         background-color: rgb(238, 238, 238);
      }
      .main-productos__section--ul--li:active h2{
         font-size: 3.1vw;
         padding: 5px 5px 0 5px;
      }
      .main-productos__section--ul--li:active h4{
         font-size: 1.8vw;
         padding: 5px 5px 0 5px;
      }
      
         .first-product-li{
            border-radius: 15px 15px 0 0;
         }

         .first-product-li img{
            border-radius: 15px 0 0 0;
         }

            .main-productos__section--ul--li--a{
               width: 100%;
               text-decoration: none;
               display: flex;
               flex-direction: row;
               align-items: center;
            }

               .main-productos__section--ul--li--a--div{
                  height: 100%;
                  padding: 20px;
                  text-align: start;
               }

                  .main-productos__section--ul--li--a--img{
                     width: 15%;
                     padding-right: 20px;
                     background-color: rgb(255, 255, 255);
                  }

                     .main-productos__section--ul--li--a--div--product-name{
                        padding: 5px;
                        margin: 0;
                        font-size: 3vw;
                        color: rgb(73, 146, 229);
                        font-weight: 300;
                     }

                        .main-productos__section--ul--li--a--product-price{
                           padding: 5px;
                           margin: 0;
                           color: rgb(54, 110, 174);
                           font-size: 1.7vw;
                           font-weight: 800;
                        }

                           .main-productos__section--button-mas{
                              margin: 0;
                              padding: 5px;
                              border: 0;
                              border-radius: 0 0 15px 15px;
                           }
                           .main-productos__section--button-mas:hover{
                              background-color: rgb(224, 224, 224);
                              color: rgb(54, 110, 174);
                           }
                           .main-productos__section--button-mas:active{
                              text-decoration: underline;
                           }
/* ----------------PRODUCTOS=END----------------- */

/* ----------------NOVEDADES=START----------------- */
.main-novedades{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-color: rgb(208, 208, 208);
}

   .main-novedades__list-functions{
      display: flex;
      flex-direction: row;
      justify-content: start;
      cursor: pointer;
      margin: 0 0 5px 0px;
   }

      .main-novedades__list-functions--text{
         font-size: 1.4vw;
         font-weight: 600;
         padding-right: 5px;
         margin: 0;
         color: rgb(255, 255, 255);
         cursor: pointer;
      }
      .main-novedades__list-functions:hover h4{
         color: rgb(54, 110, 174);
      }

         .main-novedades__list-functions--img{
            width: 1.4vw;
            color: rgb(255, 255, 255);
         }
         .main-novedades__list-functions:hover svg{
            color: rgb(54, 110, 174);
         }

.main-novedades__section{
   margin: 0 20px 20px 20px;
   display: flex;
   flex-direction: column;
   background-color: rgb(255, 255, 255);
   border-radius: 15px;
}

   .main-novedades__section--ul{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      list-style: none;
   }

      .main-novedades__section--ul--li{
         width: 100%;
         border-bottom: 2px solid rgb(185, 185, 185);
         background-color: rgb(244, 244, 244);
         display: flex;
         flex-direction: row;
      }
      .main-novedades__section--ul--li:hover{
         background-color: rgb(224, 224, 224);
      }
      .main-novedades__section--ul--li:active img{
         background-color: rgb(238, 238, 238);
      }
      .main-novedades__section--ul--li:active h2{
         font-size: 3.1vw;
         padding: 5px 5px 0 5px;
      }
      .main-novedades__section--ul--li:active p{
         font-size: 1.8vw;
         padding: 5px 5px 0 5px;
      }

      .main-novedades__section--ul--li--svg{
         align-items: start;
         width: 50px;
         cursor: pointer;
      }
      .main-novedades__section--ul--li--svg:active{
         width: 55px;
         background-color: rgb(244, 244, 244);
      }

         .first-novedades-li{
            border-radius: 15px 15px 0 0;
         }
         .first-novedades-li img{
            border-radius: 15px 0 0 0;
         }

         .last-novedades-li{
            border-radius: 0 0 15px 15px;
         }

         .last-novedades-li img{
            border-radius: 0 0 0 15px;
         }

            .main-novedades__section--ul--li--a{
               width: 100%;
               text-decoration: none;
               display: flex;
               flex-direction: row;
               align-items: center;
            }

               .main-novedades__section--ul--li--a--div{
                  width: auto;
                  height: 100%;
                  padding: 20px;
                  text-align: start;
               }

                  .main-novedades__section--ul--li--a--img{
                     width: 15%;
                     padding-right: 20px;
                     background-color: rgb(255, 255, 255);
                  }

                     .main-novedades__section--ul--li--a--div--title{
                        padding: 5px;
                        margin: 0;
                        font-size: 3vw;
                        color: rgb(73, 146, 229);
                        font-weight: 300;
                     }

                        .main-productos__section--ul--li--a--desc{
                           padding: 5px;
                           margin: 0;
                           color: rgb(54, 110, 174);
                           font-size: 1.7vw;
                           font-weight: 800;
                        }
/* ----------------NOVEDADES=END----------------- */


/* ----------------CARRITO=START----------------- */
.main-carrito{
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background-color: rgb(208, 208, 208);
}

   .main-carrito__list-functions{
      display: flex;
      flex-direction: row;
      justify-content: start;
   }

      .main-carrito__list-functions--text{
         font-size: 1.4vw;
         font-weight: 600;
         padding-right: 5px;
         margin: 5px;
         color: rgb(255, 255, 255);
      }
      .main-carrito__list-functions:hover h4{
         color: rgb(54, 110, 174);
      }

         .main-carrito__list-functions--img{
            width: 1.4vw;
            color: rgb(255, 255, 255);
         }
         .main-carrito__list-functions:hover svg{
            color: rgb(54, 110, 174);
         }

   .main-carrito__section{
      margin: 0 20px 20px 20px;
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border-radius: 15px;
   }

      .main-carrito__section__ul{
         padding: 0;
         margin: 0;
         display: flex;
         flex-direction: column;
         border-radius: 15px;
         list-style: none;
      }

         .main-carrito__section__ul--li{
            width: 100%;
            border-bottom: 2px solid rgb(185, 185, 185);
            background-color: rgb(244, 244, 244);
         }
         .main-carrito__section__ul--li:hover{
            background-color: rgb(187, 187, 187);
         }
         .main-carrito__section__ul--li:active img{
            background-color: rgb(238, 238, 238);
         }
         .main-carrito__section__ul--li:active h2{
            font-size: 3.1vw;
            padding: 5px 5px 0 5px;
         }

         .first-carrito-li{
            border-radius: 15px 15px 0 0;
         }
         .first-carrito-li img{
            border-radius: 15px 0 0 0;
         }

            .main-carrito__section--ul--li--a{
               width: 100%;
               justify-content: start;
               text-decoration: none;
               display: flex;
               flex-direction: row-reverse;
               align-items: center;
            }

               .main-carrito__section--ul--li--a h2{
                  width: auto;
                  height: 100%;
                  padding: 25px;
                  text-align: start;
                  font-size: 2vw;
                  color: rgb(73, 146, 229);
                  font-weight: 500;
               }

                  .main-carrito__section--ul--li--a img{
                     width: 15%;
                     padding-right: 20px;
                     background-color: rgb(255, 255, 255);
                  }

/* ----------------CARRITO=END----------------- */
}
/* BREAKPOINTS - END*/