/* ----------------ALL-PAGES=START----------------- */
.header{
    @include widhei(100%, auto);
    @include justali(center, center);
    @include display(flex);
    @include flex(row);
    background-color: map-get($map: $paleta, $key: "uno");
    box-shadow: -1px 5px 11px -3px rgba(0,0,0,0.67);
    @include position(sticky, 0, 0);
    overflow: hidden;
    z-index: 100000;
    &__first{
        @include display(flex);
        @include flex(row);
        overflow: hidden;
        &--logo{
            align-content: center;
            @include marpad(0, 10px 15px);
            &--mini{
                @include widhei(9vw, auto);
                &:hover{
                    transform:scale(1.02);
                }
            }
            &--full{
                @include widhei(300px, auto);
                @include mar(0 0 0 5px);
                @include display(no);
                &:hover{
                    transform:scale(1.03);
                }
            }
        }
        &--nav-sup{
            @include marpad (0, 10px 15px);
            @include justali (end, center);
            @include display (flex);
            overflow: hidden;
            &--lupa-1{
                @include widhei (9vw, auto);
                @include marpad(0 10px 0 0, 0);
                transform: scaleX(-1);
                background-color: map-get($map: $paleta, $key: no);
                &:hover{
                    transform: scale(1.1) scaleX(-1);
                }
                & path{
                    color: map-get($map: $paleta, $key: ocho);
                }
            }
            &--list{
                @include widhei(11vw, auto);
                color: map-get($map: $paleta, $key: ocho);
            }
        }
    }
    &__desktop-subpages{
        @include display(no);
    }
}
.nav{
    @include justali (center, center);
    @include display(flex);
    text-align: center;
    background-color: map-get($map: $paleta, $key: uno);
    overflow: hidden;
    &__ul{
        @include marpad (0, 7px 15px);
        @include justali (center, center);
        justify-items: center;
        @include display (flex);
        @include flex(col);
        overflow: hidden;
        &--li{
            @include widhei(100%, auto);
            @include marpad(4px, 0);
            @include list(none, none);
            background-color: map-get($map: $paleta, $key: cuatro);
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: map-get($map: $paleta, $key: dos);
                transform:scale(1.03);
                & h4{
                    @include texts(4vw, 800, rgba(255, 251, 252));
                }
            }
            &--svg{
                @include widhei(13vw, auto);
                transform: scaleX(-1);
                & path{
                    color: map-get($map: $paleta, $key: cinco );
                }
            }
            &--subpages{
                @include justali(center, center);
                @include texts(4vw, 600, rgba(145, 136, 104));
                @include marpad(20px, 0);
                @include display(no);
            }
        }
    }
    &__log{
        @include marpad(4px, 0);
        @include display(flex);
        color: map-get($map: $paleta, $key: no);
        overflow: hidden;
        &--login{
            text-decoration: none;
            &--button{
                @include marpad(0, 2px);
                @include justali(center, center);
                @include display(flex);
                background-color: map-get($map: $paleta, $key: no);
                border: 2px solid rgba(145, 136, 104);
                border-radius: 100px;
                cursor: pointer;
                &:hover{
                    background-color: map-get($map: $paleta, $key: dos);
                    border-color: map-get($map: $paleta, $key: cinco);
                    & span{
                        font-weight: 800;
                    }
                    & .nav__log--login--button--img1{
                        @include display(no);
                    }
                    & .nav__log--login--button--img1--2{
                        @include display(flex)
                    }
                }
                &--img1{
                    @include widhei(14vw, auto);
                    @include marpad (0 4px 0 0, 3px 0 3px 3px);
                    color: map-get($map: $paleta, $key: cinco);
                    &--2{
                        @extend .nav__log--login--button--img1;
                        @include display(no);
                    }
                }
                &--span1{
                    @include texts(6vw, 500, rgba(255, 251, 252));
                    padding-right: 4px;
                    @include justali(center, center);
                    text-decoration:none;
                }
                &:active span{
                    text-decoration: underline;
                }
            }
        }
    }
    &__text{
        @include marpad(4px, 0);
        &--ul{
            list-style: none;
            &--subpages-text-only{
                @include widhei (100%, auto);
                @include marpad (0, 7px);
                text-decoration:none;
                &:hover a{
                    @include texts(6.5vw, 800, rgba(55, 106, 109));
                    text-decoration: none;
                    transform: scale(1.04);
                }
                & a{
                    @include texts(6vw, 700, rgba(255, 251, 252));
                    @include display(in);
                    text-decoration: none;
                }
            }
        }
    }
}
#BusquedaNav{
    @include display(no)
 }
 #ProductosNav{
    @include display(no)
 }
 #NosotrosNav{
    @include display(no)
 }
 #ContactanosNav{
    @include display(no)
 }

 #footer-nav{
    background-color: map-get($map: $paleta, $key: nueve);
 }
 
.footer{
    @include widhei(100%, auto);
    justify-content: center;
    @include pad(20px 0 10px 0);
    @include display(flex);
    @include flex(wrap);
    background-color: map-get($map: $paleta, $key: nueve);
    overflow: hidden;
    &__main-text{
        @include widhei (100%, auto);
        @include pad(10px);
        color: map-get($map: $paleta, $key: cinco);
        & h3{
            @include texts(11vw, 700, rgba(255, 251, 252));
            @include pad(10px)
        }
    }
    &__content{
        @include widhei(100%, auto);
        justify-content: center;
        align-content: center;
        @include display (flex);
        @include flex(wrap);
        &--contact-items{
            @include hei(auto);
            justify-content: center;
            @include mar(20px);
            @include display(flex);
            &--ul{
                @include hei (auto);
                justify-content: center;
                @include display(flex);
                @include flex(col);
                &--li{
                    @include widhei(auto, auto);
                    @include justali (start, center);
                    @include pad(10px);
                    @include display(flex);
                    @include flex(row);
                    list-style: none;
                    & svg{
                        @include widhei(11vw, auto);
                        @include mar(0 20px 0 0);
                        color: map-get($map: $paleta, $key: cinco)
                    }
                    & h5{
                        @include texts(4.5vw, 400, rgba(255, 251, 252));
                        @include mar(0 10px 0 0)
                    }
                }
            }
        }
    }
    &__form{
        @include hei(auto);
        align-items: center;
        text-align: center;
        @include mar(20px);
        @include display (flex);
        @include flex(col);
        & h4{
            @include texts(5.5vw, 700, rgba(255, 251, 252))
        }
        &--formulario{
            @include widhei(90%, auto);
            align-items: center;
            @include display(flex);
            @include flex(col);
        }
    }
        input[type="text"], input[type="email"], textarea{
            @include wid(100%);
            @include marpad(5px, 10px);
            @include fs(5vw);
            border:none;
            border-radius: 5px;
        }
        textarea{
            @include hei(15vh);
            resize: none;
            overflow: scroll;
        }
        input[type="submit"]{
            @include widhei(100%, auto);
            @include marpad(5px, 5px 20px);
            @include texts(5.5vw, 500, rgba(255, 251, 252));
            background-color: rgba(55, 106, 109);
            border: 1px solid rgba(255, 251, 252);
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background-color: rgb(42, 82, 84);
            }
     }
    &__map{
        @include hei(auto);
        padding: 10px;
        & iframe{
            @include widhei(100%, 80vh);
            border:none;
        }
    }
    &__redes{
        @include wid(100%);
        @include mar(20px);
        @include display(flex);
        &--ul{
            @include wid (100%);
            @include justali(space-around, center);
            @include display(flex);
            list-style: none;
            &--li{
                justify-content: space-between;
                @include pad(10px);
                @include display(flex);
                @include flex(row);
                & a svg{
                    @include widhei(12vw, auto);
                    color: map-get($map: $paleta, $key: dos);
                }
            }
        }
    }
    &__desc{
        @include wid(100%);
        @include justali(center, center);
        @include pad(10px);
        @include display(flex);
        border-top: 1px solid rgb(172, 172, 172);
        & h6{
            @include texts(3vw, 500, rgba(255, 251, 252));
            @include mar(0);
        }
    }
}

.page-main-text{
    @include widhei(100%, auto);
    @include justali(center, center);
    @include marpad(0, 25px 20px 20px 20px);
    text-align:center;
    @include texts(12vw, 600, rgba(114, 114, 114));
}

/* ---------BREAKPOINT-MOBILE-ALL = START--------- */
@media (min-width:576px){
    .header__first--{
        &nav-sup--{
            &lupa-1{
                @include widhei(8vw,auto);
            }
            &list{
                @include widhei(10vw, auto);
            }
        }
        &logo--mini{
            @include widhei(8vw, auto)
        }
    }

    .nav__{
        &log{
            justify-content: center;
            &--login--button{
                &--img1{
                    @include widhei (11vw, auto);
                }
                &--span1{
                    @include fs(5vw);
                }
            }
        }
        &text{
            &--ul{
                &--subpages-text-only{
                    &:hover a{
                        @include texts(5vw, 800, rgba(55, 106, 109));
                    }
                }
            }
        }
        &ul{
            @include flex(row);
            &--li{
                @include widhei (100%,auto);
                padding: 20px 30px;
                &--svg{
                    @include widhei(10vw, auto);
                }
            }
        }
        &text--ul--subpages-text-only a{
            @include fs(4.5vw);
        }
    }
    input{
    &[type="text"], input[type="email"], textarea{
        @include fs(5vw);
    }
    &[type="submit"]{
        @include fs(5vw);
    }
    }
}
/* ---------BREAKPOINT-MOBILE-ALL = END--------- */

/* ---------BREAKPOINT-TABLET-ALL = START--------- */
@media (min-width:768px){
    .header__first--{
        &logo--{
            &mini{
                @include display(no);
            }
            &full{
                @include display(flex);
                @include wid(27vw)
            }
        }
        &nav-sup--{
            &lupa-1{
                @include wid(7vw);
            }
            &list{
                @include wid(9vw);
            }
        }
    }

    .nav__{
        &log{
            @include mar(10px);
            &--login--button--{
                &img1{
                    @include wid(9vw);
                }
                &span1{
                    @include fs(4vw);
                    @include pad(0 6px 0 0);
                }
            }
        }
        &ul{
            @include flex(col);
            &--li{
                @include marpad(10px,0);
                &--svg{
                    @include wid(9vw);
                }
                & a{
                    @include justali (center, center);
                    text-align: center;
                    @include display (flex);
                }
                &--subpages{
                    @include display (flex);
                    @include mar(10px);
                    color: map-get($map: $paleta, $key: cinco);
                }
            }
        }
        &text{
            &--ul{
                &--subpages-text-only{
                    &:hover a{
                        @include texts(4.5vw, 800, rgba(55, 106, 109));
                    }
                    & a{
                        @include fs(4vw);
                    }
                }
            }
        }
    }

    .footer{
        &__main-text h3{
            @include fs(9.5vw);
        }
        &__content--contact-items--ul--li{
            & svg{
                @include wid(9vw)
            }
            & h5{
                @include fs(3.5vw)
            }
        }
        &__redes--ul--li a svg{
            @include wid(9vw)
        }
    }
    input{
        &[type="text"], input[type="email"], textarea{
            @include fs(3.5vw);
         }
        &[type="submit"]{
            @include fs(4vw);
         }
    }
}
/* ---------BREAKPOINT-TABLET-ALL = END--------- */

/* ---------BREAKPOINT-DESKTOP-ALL = START--------- */
@media (min-width:992px){
    .header{
        @include display(flex);
        @include flex(col);
        &__first{
            @include display(flex);
            @include flex(row);
            &--logo--full{
                @include wid(130px);
            }
            &--nav-sup{
                @include display(no);
            }
        }
        &__desktop-subpages{
            @include wid(100%);
            @include justali(center, center);
            @include display (flex);
            background-color: map-get($map: $paleta, $key: cinco);
            &__ul{
                @include wid(100%);
                @include justali(space-around, center);
                @include marpad (0, 0);
                @include display(flex);
                list-style: none;
                &--li{
                    @include wid(100%);
                    @include pad(3px);
                    text-align: center;
                    &:hover{
                        @include pad(0);
                        background-color: map-get($map: $paleta, $key: ocho);
                        & a{
                            @include fs(18px);
                        }
                    }
                    & a{
                        @include display (blo);
                        @include texts(16px, 500, rgba(73, 73, 73));
                        text-decoration:none;
                    }
                }
            }
        }
    }

    .nav{
        @include display(flex);
        @include flex(row-re);
        justify-content: end;
        &__log{
            @include wid(auto);
            justify-content: end;
            @include display(flex);
            @include flex(row);
            &--login--button{
                &--img1{
                    @include wid(30px)
                }
                &--span1{
                    @include texts(15px, 400, rgba(255, 251, 252));
                    @include pad(0 6px 0 0)
                }
            }
        }
        &__ul{
            @include wid(auto);
            @include pad(0);
            @include display(flex);
            &--li{
                @include wid(auto);
                @include marpad(0, 0);
                background-color: map-get($map: $paleta, $key:no);
                &:hover{
                    background-color: map-get($map: $paleta, $key: no);
                }
                &--svg{
                    @include wid(30px);
                    & path{
                        color: map-get($map: $paleta, $key: cinco);
                    }
                }
                &:hover path{
                    color: map-get($map: $paleta, $key:dos);
                    transform:scale(1.03);
                }
                & a{
                    @include justali (center, center);
                    text-align: center;
                    @include display(flex);
                }
                &--subpages{
                    @include display(no);
                }
            }
        }
        &__text{
            @include display(no);
        }
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row-reverse;
     }

     #ProductosItem{
        display: none;
     }
  
     #BusquedaNav{
        display: flex;
     }

     #footer-nav{
        @include widhei (100%, 50px);
        background-color: map-get($map: $paleta, $key: nueve);
     }

    .footer{
        &__main-text h3{
            @include fs(70px);
        }
        &__content--contact-items{
            @include justali(start, center);
            &--ul--li{
                & svg{
                    @include wid(45px);
                }
                & h5{
                    @include fs(20px);
                }
            }
        }
        &__form{
            justify-content: center;
            align-content: start;
            & h4{
                @include fs(30px);
            }
        }
        &__redes{
            @include mar(20px);
            @include display(flex);
            &--ul{
                justify-content: space-evenly;
                &--li a svg{
                    @include wid(70px);
                }
            }
        }
        &__desc h6{
            @include fs(12px);
        }
        input[type="text"], input[type="email"], textarea{
            @include fs (19px);
         }

        input[type="submit"]{
            @include fs(22px);
        }
    }
}
/* ---------BREAKPOINT-DESKTOP-ALL = END--------- */
/* ----------------ALL-PAGES=END----------------- */
