/* ----------------CARRITO=START----------------- */
.main-carrito{
    @extend .main-novedades;
    &__list-functions{
        @extend .main-novedades__list-functions;
        &--div{
            @extend .main-novedades__list-functions--div;
            &--text{
                @include marpad(0, 0 5px 0 0);
                @include texts(4vw, 600, rgba(255, 251, 252));
            }
            &--img{
                @extend .main-novedades__list-functions--div--img;
            }
            &:hover{
                & h4{
                    color: map-get($map: $colors, $key: ab-uno);
                }
                & svg{
                    color: map-get($map: $colors, $key:  dos);
                }
            }
        }
    }
    &__section{
        @extend .main-novedades__section;
        @include mar(0 20px 0px 20px);
        &--ul{
            @extend .main-novedades__section--ul;
            &--li{
                @include wid(auto);
                justify-content: space-between;
                @include display(flex);
                @include flex(row);
                border-bottom: 2px solid rgb(185, 185, 185);
                background-color: map-get($map: $colors, $key: b-dos);
                &:hover{
                    background-color: map-get($map: $colors, $key: b-tres);
                }
                &--a{
                    @extend .main-novedades__section--ul--li--a;
                    &:hover{
                        background-color: map-get($map: $colors, $key: b-tres);
                        border-radius: 15px 15px 15px 15px;
                    }
                    &:active{
                        & img{
                            @include hei(auto);
                            background-color: map-get($map: $colors, $key: b-tres);
                        }
                        & h2{
                            @include pad(5px 5px 0 5px);
                            @include fs(4.8vw);
                        }
                    }
                    &--text{
                        @include texts(4.5vw, 500, rgba(55, 106, 109));
                        @include marpad(0, 5px);
                        text-align: start
                    }
                    &--img{
                        @include wid(30vw);
                        @include pad(0 10px 0 0);
                        background-color: map-get($map: $colors, $key: b-dos);
                    }
                }
                &--delete{
                    @extend .main-novedades__section--ul--li--x;
                    & svg{
                        @include wid(6vw);
                        cursor: pointer;
                        &:hover path{
                            color: map-get($map: $colors, $key: ab-uno);
                        }
                        &:active path{
                            transform:scale(1.07);
                        }
                        & path{
                            color: map-get($map: $colors, $key: ab-nueve);
                        }
                    }
                }
            }
        }
        &--button-carrito{
            @extend .main-productos__section--button-mas;
            @include marpad(10px, 5px);
            color: map-get($map: $colors, $key: b-dos);
            background-color: map-get($map: $colors, $key: ab-cinco);
            border: 2px solid rgba(255, 251, 252);
            border-radius: 15px 15px 15px 15px;
            &:hover{
                background-color: map-get($map: $colors, $key: ab-siete);
            }
            &:active{
                text-decoration: underline;
            }
        }
    }
    
    .first-carrito-li{
        border-radius: 15px 15px 0 0;
            & img{
                border-radius: 15px 0 0 0;
            }
    }
    .last-carrito-li{
        border-radius: 0 0 15px 15px;
        border: none;
        & img{
            border-radius: 0 0 0 15px;
        }
    }
}

/* ---------BREAKPOINT-MOBILE-CAR = START--------- */
@media (min-width:576px){
    .main-carrito{
        &__list-functions{
            &--div{
                &--text{
                    @include texts(3vw, 600, rgba(255, 251, 252));
                }
                &--img{
                    @include wid(3vw);
                }
            }
        }
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(4.1vw);
                            }
                        }
                        &--text{
                            @include texts(4vw, 500, rgba(55, 106, 109));
                        }
                        &--img{
                            @include wid(25vw);
                        }
                    }
                    &--delete{
                        & svg{
                            @include wid(5vw);
                        }
                    }
                }
            }
            &--button-carrito{
                @include fs(3.8vw);
            }
        }
    }
}
/* ---------BREAKPOINT-MOBILE-CAR = END--------- */

/* ---------BREAKPOINT-TABLET-CAR = START--------- */
@media (min-width:768px){
    .main-carrito{
        &__list-functions{
            &--div{
                &--text{
                    @include texts(2.8vw, 600, rgba(255, 251, 252));
                }
                &--img{
                    @include wid(2.8vw);
                }
            }
        }
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(3.6vw);
                            }
                        }
                        &--text{
                            @include texts(3.5vw, 500, rgba(55, 106, 109));
                        }
                        &--img{
                            @include wid(20vw);
                        }
                    }
                    &--delete{
                        & svg{
                            @include wid(4vw);
                        }
                    }
                }
            }
            &--button-carrito{
                @include fs(3vw);
            }
        }
    }
}
/* ---------BREAKPOINT-TABLET-CAR = END--------- */

/* ---------BREAKPOINT-DESKTOP-CAR = START--------- */
@media (min-width:992px){
    .main-carrito{
        &__list-functions{
            &--div{
                &--text{
                    @include texts(1.4vw, 600, rgba(255, 251, 252));
                }
                &--img{
                    @include wid(1.4vw);
                }
            }
        }
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(2.8vw);
                            }
                        }
                        &--text{
                            @include texts(2.7vw, 500, rgba(55, 106, 109));
                        }
                        &--img{
                            @include wid(12vw);
                        }
                    }
                    &--delete{
                        & svg{
                            @include wid(3vw);
                        }
                    }
                }
            }
            &--button-carrito{
                @include fs(2vw);
            }
        }
    }
}
/* ---------BREAKPOINT-DESKTOP-CAR = END--------- */