/* ----------------INDEX=START----------------- */
.main-index{
    @include widhei(100vw, 100vh);
    @include justali(center, center);
    align-content: center;
    text-align: center;
    @include flex(col);
    overflow: hidden;
    z-index: -1000;
    &__bg{
        @include widhei(100%, 100%);
        background-image: url(../imagenes/deposito.jpg);
        background-position: center center;
        background-size:auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.8) blur(3px);
        overflow: hidden;
    }
    &__text{
        @include widhei(100%, 100%);
        @include justali(center, center);
        @include marpad (0, 5px);
        text-align: center;
        @include display (flex);
        @include position(absolute, 10%, 0);
        & h1{
            @include texts(13vw, 800, rgba(255, 251, 252));
        }
    }
}
.section-1-index{
    @include widhei (100%, auto);
    @include justali (center, center);
    text-align:center;
    padding: 10px 30px 10px 30px;
    @include display(flex);
    @include flex(col);
    background-color: map-get($map: $colors, $key: b-tres);
    overflow: hidden;
    z-index: 15000;
    &__text{
        @include texts(5vw,600,rgba(55, 106, 109));
        margin: 15px 0 10px 0;
    }
    &__article-1{
        @include widhei(auto, auto);
        @include justali(center, center);
        @include display(flex);
        @include flex(row);
        flex-wrap: wrap;
        z-index: 500;
        &--figure{
            @include widhei(80%, auto);
            @include justali(center, center);
            align-content: center;
            @include marpad(10px, 0);
            @include display(flex);
            @include flex(col);
            background-color: map-get($map: $colors, $key: b-dos);
            border-radius: 5px;
            cursor: pointer;
            &:active{
                box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.25);
            }
            &--img{
                @include wid(90%);
            }
            &--figcap{
                @include widhei(85%, auto);
                @include texts(6vw, 700, rgba(55, 106, 109));
                @include marpad(0, 5px 0 0 0 );
                text-align: center;
                @include position(relative, -10px, 0);
                background-image: linear-gradient(rgba(55, 106, 109), rgba(55, 106, 109));
                background-position: 50% 0%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
        }
    }
    & div{
        margin: 10px 0 10px 0;
        & a{
            @include texts(5.5vw, 500,  rgb(110, 110, 110));
            text-decoration: none;
            margin-bottom: 5px;
            color: map-get($map: $colors, $key: g-cinco);
            &:hover{
                color: map-get($map: $colors, $key: ab-dos);
            }
            &:active{
                text-decoration: underline;
            }
        }
    }
}

/* ---------BREAKPOINT-MOBILE-IND = START--------- */
@media (min-width:576px){
    .main-index__text h1{
        @include fs(11vw);
    }
    .section-1-index{
        &__tex{
            @include fs(9.5vw);
        }
        &__article-1--figure--figcap{
            @include fs(5.5vw);
        }
        & div a{
            @include fs (5.5vw);
        }
    }
}
/* ---------BREAKPOINT-MOBILE-IND = END--------- */

/* ---------BREAKPOINT-TABLET-IND = START--------- */
@media (min-width:768px){
    .main-index__text h1{
        @include fs(9.5vw);
    }
    .section-1-index{
        &__text{
            @include fs(8vw);
        }
        &__article-1--figure--figcap{
            @include fs(4.5vw);
        }
    }
}
/* ---------BREAKPOINT-TABLET-IND = END--------- */

/* ---------BREAKPOINT-DESKTOP-IND = START--------- */
@media (min-width:992px){
    .main-index__text h1{
        @include texts(5.5vw, 800, rgba(255, 251, 252));
    }

    #ProDest{
        @include widhei(100%, 80px);
        background-color: map-get($map: $colors, $key: b-tres);
    }

    .section-1-index{
        &__text{
            @include texts(5vw, 600, rgba(55, 106, 109));
        }
        &__article-1--figure{
            @include wid(30%);
            justify-content: center;
            &:hover{
                box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.25);
                & figcaption{
                    background-size: 100% 2px;
                }
            }
            &:active{
                transform: scale(1.02);
            }
            &--img{
                @include wid(70%);
            }
            &--figcap{
                @include fs(25px);
            }
        }
        & div a{
            @include fs(20px);
            &:hover{
                color: map-get($map: $colors, $key: ab-dos);
            }
        }
    }
}
/* ---------BREAKPOINT-DESKTOP-IND = END--------- */
/* ----------------INDEX=END----------------- */
