/* ----------------NOVEDADES=START----------------- */
.main-novedades{
    @extend .main-productos;
    &__list-functions{
        @extend .main-productos__list-functions;
        justify-content: start;
        &--div{
            @extend .main-productos__list-functions--div;
            &--text{
                @extend .main-productos__list-functions--div--text;
            }
            &--img{
                @extend .main-productos__list-functions--div--img;
            }
            &:hover{
                & h4{
                    color: map-get($map: $paleta, $key: dos);
                }
                & svg{
                    color: map-get($map: $paleta, $key:  dos);
                }
            }
        }
    }
    &__section{
        @extend .main-productos__section;
        &--ul{
            @extend .main-productos__section--ul;
            &--li{
                @extend .main-productos__section--ul--li;
                justify-content: space-between;
                @include display(flex);
                @include flex(row);
                &:hover{
                    background-color: map-get($map: $paleta, $key: quince);
                }
                &--a{
                    @extend .main-productos__section--ul--li--a;
                    &:hover{
                        background-color: map-get($map: $paleta, $key: quince);
                        border-radius: 15px 15px 15px 15px;
                    }
                    &:active{
                        & img{
                            @include hei(auto);
                            background-color: map-get($map: $paleta, $key: dieciseis);
                        }
                        & h2{
                            @include pad(5px 5px 0 5px);
                            @include fs(4.8vw);
                        }
                        & p{
                            @include pad(5px 5px 0 5px);
                            @include fs(3.6vw);
                        }
                    }
                    &--div{
                        @include widhei(auto, 100%);
                        @include justali(center,start);
                        @include display(flex);
                        @include flex(col);
                        text-align:start;
                        &--title{
                            @include texts(4.5vw, 800, rgba(55, 106, 109));
                            @include marpad(0, 15px 15px 0 15px);
                            text-align: start
                        }
                        &--desc{
                            @include texts(3.3vw, 300, rgba(68, 133, 136));
                            @include marpad(0, 0 15px 15px 15px);
                        }
                    }
                    &--img{
                        @extend .main-productos__section--ul--li--a--img;
                        @include pad(0 10px 0 0);
                    }
                }
                &--x{
                    @include hei(auto);
                    @include pad(10px 10px 0 0);
                    & svg{
                        @include wid(10vw);
                        cursor: pointer;
                        &:hover path{
                            color: map-get($map: $paleta, $key: dos);
                        }
                        &:active path{
                            transform:scale(1.07);
                        }
                        & path{
                            color: map-get($map: $paleta, $key: uno);
                        }
                    }
                }
            }
        }
    }
    .first-novedades-li{
        @extend .first-product-li;
            & img{
                border-radius: 15px 0 0 0;
            }
    }
    .last-novedades-li{
        border-radius: 0 0 15px 15px;
        border: none;
        & img{
            border-radius: 0 0 0 15px;
        }
    }
}
/* ---------BREAKPOINT-MOBILE-NOV = START--------- */
@media (min-width:576px){
    .main-novedades{
        &__list-functions{
            &--div{
                &--text{
                    @include texts(3vw, 600, rgba(255, 251, 252));
                }
                &--img{
                    @include wid(3vw);
                }
            }
        }
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(4.5vw);
                            }
                            & p{
                                @include fs(3.3vw);
                            }
                        }
                        &--div{
                            &--title{
                                @include texts(4.2vw, 800, rgba(55, 106, 109));
                            }
                            &--desc{
                                @include texts(3vw, 300, rgba(68, 133, 136));
                            }
                        }
                        &--img{
                            @include widhei(35%,auto);
                        }
                    }
                    &--x{
                        & svg{
                            @include wid(9vw);
                        }
                    }
                }
            }
        }
    }
}
/* ---------BREAKPOINT-MOBILE-NOV = END--------- */

/* ---------BREAKPOINT-TABLET-NOV = START--------- */
@media (min-width:768px){
    .main-novedades{
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(4.2vw);
                            }
                            & p{
                                @include fs(3vw);
                            }
                        }
                        &--div{
                            &--title{
                                @include texts(3.9vw, 800, rgba(55, 106, 109));
                            }
                            &--desc{
                                @include texts(2.7vw, 300, rgba(68, 133, 136));
                            }
                        }
                        &--img{
                            @include widhei(30%,auto);
                        }
                    }
                    &--x{
                        & svg{
                            @include wid(8vw);
                        }
                    }
                }
            }
        }
    }
}
/* ---------BREAKPOINT-TABLET-NOV = END--------- */

/* ---------BREAKPOINT-DESKTOP-NOV = START--------- */
@media (min-width:992px){
    .main-novedades{
        &__list-functions{
            &--div{
                &--text{
                    @include texts(1.4vw, 600, rgba(255, 251, 252));
                }
                &--img{
                    @include wid(1.4vw);
                }
            }
        }
        &__section{
            &--ul{
                &--li{
                    &--a{
                        &:active{
                            & h2{
                                @include fs(2.6vw);
                            }
                            & p{
                                @include fs(1.9vw);
                            }
                        }
                        &--div{
                            &--title{
                                @include texts(2.5vw, 600, rgba(55, 106, 109));
                            }
                            &--desc{
                                @include texts(1.5vw, 300, rgba(68, 133, 136));
                            }
                        }
                        &--img{
                            @include widhei(15%,auto);
                        }
                    }
                    &--x{
                        & svg{
                            @include wid(5vw);
                        }
                    }
                }
            }
        }
    }
}
/* ---------BREAKPOINT-DESKTOP-NOV = END--------- */
/* ----------------NOVEDADES=END----------------- */