/* ----------------PRODUCTOS=START----------------- */
.main-productos{
    @include justali(center,center);
    @include display (flex);
    @include flex(col);
    background-color: map-get($map: $colors, $key: b-tres);
    overflow: hidden;
    &__list-functions{
        justify-content: space-between;
        @include display(flex);
        @include flex(row);
        &--div{
            @include justali (center, center);
            @include mar(0 30px 5px 0);
            @include display (flex);
            @include flex(row);
            cursor: pointer;
            &--text{
                @include marpad(0, 0 5px 0 0);
                @include texts(4vw, 600, rgb(255, 255, 255));
            }
            &--img{
                @include wid(4vw);
                color: map-get($map: $colors, $key: b-uno);
            }
            &:hover{
                & h4{
                    color: map-get($map: $colors, $key: ab-uno);
                }
                & svg{
                    color: map-get($map: $colors, $key:  ab-dos);
                }
            }
        }
    }
    &__section{
        @include mar(0);
        @include display(flex);
        @include flex(col);
        background-color: map-get($map: $colors, $key: b-dos);
        &--ul{
            @include marpad(0,0);
            @include display (flex);
            @include flex (col);
            list-style: none;
            cursor: pointer;
            .li-1, .li-2, .li-3, .li-4, .li-5, .li-6{
                animation-delay: .1s;
            }
            &--li{
                @include wid(auto);
                border-bottom: 1px solid rgb(185, 185, 185);
                background-color: map-get($map: $colors, $key: b-dos);

                &:hover{
                    background-color: map-get($map: $colors, $key: b-tres);
                }
                &:active{
                    & img{
                        background-color: map-get($map: $colors, $key: b-tres);
                    }
                    & h2{
                        @include fs(4.5vw);
                    }
                    & h3{
                        @include fs(6.3vw);
                    }
                }
                &--a{
                    @include wid(100%);
                    align-items: center;
                    @include display(flex);
                    @include flex(row);
                    text-decoration: none;
                    &--div{
                        @include hei(100%);
                        @include pad(20px);
                        text-align:start;
                        &--product-name{
                            @include texts(4.2vw, 300, rgba(68, 133, 136));
                            @include marpad(0, 5px);
                        }
                    }
                    &--product-price{
                        @include texts(6vw, 800, rgba(55, 106, 109));
                        @include marpad(0, 5px);
                    }
                    &--img{
                        @include widhei(40vw,auto);
                        @include pad(0 20px 0 0);
                        background-color: map-get($map: $colors, $key: b-dos);
                    }
                }
            }
        }
        &--button-mas{
            @include fs(4vw);
            @include marpad(0, 5px);
            color: map-get($map: $colors, $key: g-siete);
            background-color: map-get($map: $colors, $key: b-dos);
            border: 0;
            &:hover{
                background-color: map-get($map: $colors, $key: b-dos);
                color: map-get($map: $colors, $key: ab-uno);
            }
            &:active{
                text-decoration: underline;
            }
        }
    }
    .filt{
        justify-content: end;
        @include mar(0 0 0 0);
    }
}

/* ---------BREAKPOINT-MOBILE-PRO = START--------- */
@media (min-width:576px){
.main-productos{
    &__section{
        &--ul{
            &--li{
                &:active{
                    & h2{
                        @include fs(4.3vw);
                    }
                    & h3{
                        @include fs(6.1vw);
                    }
                }
                &--a{
                    &--div{
                        &--product-name{
                            @include texts(4vw, 300, rgba(68, 133, 136));
                        }
                    }
                    &--product-price{
                        @include texts(5.8vw, 800, rgba(55, 106, 109));
                    }
                    &--img{
                        @include wid(35vw);
                    }
                }
            }
        }
    }
}
}
/* ---------BREAKPOINT-MOBILE-PRO = END--------- */

/* ---------BREAKPOINT-TABLET-PRO = START--------- */
@media (min-width:768px){
.main-productos{
    &__list-functions{
        &--div{
            &--text{
                @include texts(3vw, 600, rgb(255, 255, 255));
            }
            &--img{
                @include wid(3vw);
            }
        }
    }
    &__section{
        &--ul{
            &--li{
                &:active{
                    & h2{
                        @include fs(4.1vw);
                    }
                    & h3{
                        @include fs(5.3vw);
                    }
                }
                &--a{
                    &--div{
                        &--product-name{
                            @include texts(3.8vw, 300, rgba(68, 133, 136));
                        }
                    }
                    &--product-price{
                        @include texts(5vw, 800, rgba(55, 106, 109));
                    }
                    &--img{
                        @include wid(29vw);
                    }
                }
            }
        }
    }
}
}
/* ---------BREAKPOINT-TABLET-PRO = END--------- */

/* ---------BREAKPOINT-DESKTOP-PRO = START--------- */
@media (min-width:992px){
.main-productos{
    &__list-functions{
        &--div{
            &--text{
                @include texts(1.4vw, 600, rgba(255, 251, 252));
            }
            &--img{
                @include wid(1.4vw);
            }
        }
    }
    &__section{
        @include mar((0 20px 20px 20px));
        border-radius: 15px;
        &--ul{
            border-radius: 15px;
            .li-2{
                animation-delay: 100ms;
            }
            .li-3{
                animation-delay: 0ms;
            }
            .li-4{
                animation-delay: 0ms;
            }
            &--li{
                &:active{
                    & h2{
                        @include fs(1.6vw);
                    }
                    & h3{
                        @include fs(2.1vw);
                    }
                }
                &--a{
                    &--div{
                        &--product-name{
                            @include texts(1.5vw, 300, rgba(68, 133, 136));
                        }
                    }
                    &--product-price{
                        @include texts(2vw, 800, rgba(55, 106, 109));
                    }
                    &--img{
                        @include wid(12vw);
                    }
                }
            }
        }
        &--button-mas{
            @include fs(1.5vw);
            border-radius: 0 0 15px 15px;
        }
    }
    .first-product-li{
        border-radius: 15px 15px 0 0;
        & img{
            border-radius: 15px 0 0 0;
        }
    }
}
}
/* ---------BREAKPOINT-DESKTOP-PRO = END--------- */
/* ----------------PRODUCTOS=END----------------- */